<!-- TODO Interior hero version-->
<section class="usa-hero" aria-label="Introduction" style="background-image: url('https://www.ars-grin.gov/assets/img/usa-hero/Field-RoundBales-Sunset_AdobeStock_238038228.jpeg');">
    <div class="grid-container" style="max-width:94rem;">
        <div id="hero-callout" class="usa-hero__callout usa-hero__callout--shrink">
            <h1 class="usa-hero__heading">
                <span class="usa-hero__heading--alt">
                    <span id="hero-title">@ViewBag.PageTitle</span>
                </span>
            </h1>
        </div>
    </div>
</section>
