
<section 
         class="usa-hero" 
         aria-label="Introduction" 
         style="background-image: url('https://www.ars-grin.gov/assets/img/usa-hero/Field-RoundBales-Sunset_AdobeStock_238038228.jpeg'); ">
    <div class="grid-container">
        <div class="usa-hero__callout">
            <h1 class="usa-hero__heading">
                <span class="usa-hero__heading--alt">Learn About Our Collections</span>
            </h1>
            <div class="grid-row grid-gap">
                <div class="tablet:grid-col-auto">
                    <img class="usa-media-block__img" src="/img/npgs_plants_corn.jpg" alt="Alt text" style="height: 120px; width: 140px;">
                    <p style="font-weight:bold; margin-top:0px; margin-bottom:0px; text-align:center;"><a href="@Url.Action("Index","NPGS")" style="color: white;">Plants (NPGS)</a></p>
                </div>
                <div class="tablet:grid-col-auto">
                    <img class="usa-media-block__img" src="/img/animals.jpg" alt="Alt text" style="height: 120px; width: 140px;">
                    <p style="font-weight: bold; margin-top: 0px; margin-bottom: 0px; text-align: center;">
                        <a href="https://agrin.ars.usda.gov/main_webpage_dev/ars?language=EN&record_source=US" target="_blank" rel="noopener noreferrer" class="usa-nav-link npgs-link-external" style="color: white;">Animals (NAGP) ↗</a>
                    </p>
                </div>
                <div class="tablet:grid-col-auto">
                    <img class="usa-media-block__img" src="/img/NPGSMicrobial Penicillium spore head.jpg" alt="Alt text" style="height: 120px; width: 140px;">
                    <p style="font-weight: bold; margin-top: 0px; margin-bottom: 0px; text-align: center;">
                        <a href="@Url.Action("Index","NPGS", new { @context = "microbial-collections"})" style="color: white;">Microbes</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function () {
        $('#btnSearchGRINGlobal').on('click', function (e) {
            e.preventDefault();
            var searchString = grinGlobalSearchForm.search.value;

            if (searchString.length > 0) {
                window.location.href = "https://npgsweb.ars-grin.gov/gringlobal/search?q=" + searchString;
            }
        });
    });
</script>