<!DOCTYPE html>
    <!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
    <!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Title and meta description
        ================================================== -->
        <title>Components | U.S. Web Design System (USWDS)</title>
    
        <!-- Favicons
        ================================================== -->
        <!-- 128x128 -->
        <link rel="shortcut icon" type="image/ico" href="https://designsystem.digital.gov/assets/img/favicons/favicon.ico">
        <link rel="icon" type="image/png" href="https://designsystem.digital.gov/assets/img/favicons/favicon.png">

        <!-- 192x192, as recommended for Android
        http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
        -->
        <link rel="icon" type="image/png" sizes="192x192" href="https://designsystem.digital.gov/assets/img/favicons/favicon-192.png">

        <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
        <link rel="apple-touch-icon-precomposed" href="https://designsystem.digital.gov/assets/img/favicons/favicon-57.png">
        <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://designsystem.digital.gov/assets/img/favicons/favicon-72.png">
        <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://designsystem.digital.gov/assets/img/favicons/favicon-114.png">
        <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://designsystem.digital.gov/assets/img/favicons/favicon-144.png">
        <link rel="stylesheet" href="~/css/uswds-gringlobal-interior.css">
 
        <style>
            .custom-hero-bg {
              /* background-image: url('https://npgsweb.ars-grin.gov/gringlobal/images/4.png'); */
            background-image: url('https://npgsweb.ars-grin.gov/gringlobal/images/6.png');
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
            }

          .usa-logo .site-logo__text::before {
            height: 1.5rem;
            width: 0rem;
            content: "";
            /* background-image: url('https://www.ars.usda.gov/images/redesign/USDA-Logo.png') !important; */
            background-image: none !important;
            background-repeat: no-repeat;
            background-size: 100% auto;
            display: inline-block;
            margin-left: -2px;
            margin-right: .25rem;
            position: relative;
            top: -1px;
            vertical-align: middle;
        }

            .site-header
        {
            background-color: #264802;
        }

        </style>

        <!-- USWDS INIT
        ================================================== -->
        <script src="https://designsystem.digital.gov/assets/uswds/components/usa-banner.js.mjs" type="module"></script>
        <link rel="preload" href="https://designsystem.digital.gov/assets/js/vendor/uswds.min.js" as="script">
        <script src="https://designsystem.digital.gov/assets/js/vendor/" type="text/javascript"></script>
  </head>
    <body class="page-components layout-styleguide ">
        <a class="usa-skipnav" href="#main-content">Skip to main content</a>
        <section
      class="usa-banner site-banner"
      aria-label="Official website of the United States government,,,,,,"
    >
      <div class="usa-accordion">
        <header class="usa-banner__header">
          <div class="usa-banner__inner">
            <div class="grid-col-auto">
              <img
                aria-hidden="true"
                class="usa-banner__header-flag"
                src="https://designsystem.digital.gov/assets/img/us_flag_small.png"
                alt=""
              />
            </div>
            <div class="grid-col-fill tablet:grid-col-auto" aria-hidden="true">
              <p class="usa-banner__header-text">
                An official website of the United States government
              </p>
              <p class="usa-banner__header-action">Here’s how you know</p>
            </div>
            <button
              type="button"
              class="usa-accordion__button usa-banner__button"
              aria-expanded="false"
              aria-controls="gov-banner"
            >
              <span class="usa-banner__button-text">Here’s how you know</span>
            </button>
          </div>
        </header>
        <div
          class="usa-banner__content usa-accordion__content"
          id="gov-banner"
        >
          <div class="grid-row grid-gap-lg">
            <div class="usa-banner__guidance tablet:grid-col-6">
              <img
                class="usa-banner__icon usa-media-block__img"
                src="https://designsystem.digital.gov/assets/img/icon-dot-gov.svg"
                role="img"
                alt=""
                aria-hidden="true"
              />
              <div class="usa-media-block__body">
                <p>
                  <strong>Official websites use .gov</strong><br />A
                  <strong>.gov</strong> website belongs to an official government
                  organization in the United States.
                </p>
              </div>
            </div>
            <div class="usa-banner__guidance tablet:grid-col-6">
              <img
                class="usa-banner__icon usa-media-block__img"
                src="https://designsystem.digital.gov/assets/img/icon-https.svg"
                role="img"
                alt=""
                aria-hidden="true"
              />
              <div class="usa-media-block__body">
                <p>
                  <strong>Secure .gov websites use HTTPS</strong><br />A
                  <strong>lock</strong> (
                  <span class="icon-lock"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="52"
                      height="64"
                      viewBox="0 0 52 64"
                      class="usa-banner__lock-image"
                      role="img"
                      aria-labelledby="banner-lock-description"
                      focusable="false"
                    >
                      <title id="banner-lock-title">Lock</title>
                      <desc id="banner-lock-description">Locked padlock icon</desc>
                      <path
                        fill="#000000"
                        fill-rule="evenodd"
                        d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z"
                      />
                    </svg> </span
                  >) or <strong>https://</strong> means you’ve safely connected to
                  the .gov website. Share sensitive information only on official,
                  secure websites.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
        
        <!-- ******************************************** BEGIN HEADER ***********************************************************-->        
        <header class="usa-header usa-header--extended site-header site-header--dark" role="banner">
          <div class="usa-navbar site-header__navbar">
            <div class="usa-logo site-logo" id="logo" style="margin-left:0px;">
              <em class="usa-logo__text site-logo__text">
                <a href="/" title="GRIN-Global Home">
                  <span aria-hidden="true" class="site-title--short">GG</span>
                  <span class="site-title--long">GRIN-Global</span>
                </a>
              </em>
            </div>
            <button type="button" class="usa-menu-btn">Menu</button>
          </div>
        </header>
        <!-- ********************************************* END HEADER ************************************************************-->        
        
        <nav aria-label="Primary navigation" class="usa-nav site-nav sticky">
            <div class="usa-nav__inner site-nav__inner">
            <button type="button" class="usa-nav__close">
              <img src="https://designsystem.digital.gov/assets/img/usa-icons/close.svg" role="img" alt="Close">
            </button>
    <!-- Mobile nav -->
    <ul class="usa-nav__primary usa-nav__primary--mobile usa-accordion">
      
  <li class="usa-nav__primary-item">
  
  
    

<button type="button" class="usa-accordion__button usa-nav__link" aria-controls="nav-how-to-use-uswds"
  aria-expanded="false"
  >
  <span>
    How to use USWDS
  </span>
</button>
<ul id="nav-how-to-use-uswds" class="usa-nav__submenu">
  
  
  

  
  <li class="usa-nav__submenu-item">
    

<a href="/how-to-use-uswds/">
  <span>
    How to use USWDS
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/documentation/getting-started-for-developers/">
  <span>
    Getting started for developers
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/documentation/getting-started-for-designers/">
  <span>
    Getting started for designers
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/documentation/developers/">
  <span>
    Documentation
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/documentation/settings/">
  <span>
    Settings
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/maturity-model/">
  <span>
    USWDS maturity model
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/documentation/accessibility/">
  <span>
    Accessibility
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/performance/">
  <span>
    Performance guidelines
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/documentation/code-guidelines/">
  <span>
    Code guidelines
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/documentation/migration/">
  <span>
    Migrating to USWDS 3.0
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/documentation/migration-v2/">
  <span>
    Migrating to USWDS 2.0
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/documentation/implementations/">
  <span>
    Implementations
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/documentation/showcase/">
  <span>
    Showcase
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/documentation/sample-contract-language/">
  <span>
    Sample contract language for 21st Century IDEA
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/website-standards/">
  <span>
    Website standards
  </span>
</a>


    
  </li>


</ul>

  
  </li>

  <li class="usa-nav__primary-item">
  
  
    

<a href="/design-principles/">
  <span>
    Design principles
  </span>
</a>


  
  </li>

  <li class="usa-nav__primary-item">
  
  
    

<button type="button" class="usa-accordion__button usa-nav__link" aria-controls="nav-components"
  
  class="usa-current"
  aria-expanded="true"
  >
  <span>
    Components
  </span>
</button>
<ul id="nav-components" class="usa-nav__submenu">
  
  
  

  
  <li class="usa-nav__submenu-item is-current">
    

<a href="/components/"class="usa-current">
  <span>
    Components
  </span>
</a>

    
    
    
    <ul class="usa-nav__submenu">
  

  
  <li class="usa-nav__submenu-item is-current">
    

<a href="/components/overview/"class="usa-current">
  <span>
    Components
  </span>
</a>

    
    
    
    
  


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/packages/">
  <span>
    Packages
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/lifecycle/">
  <span>
    Component lifecycle
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/status/">
  <span>
    Component status
  </span>
</a>


    
  </li>

</ul>
    
  


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/accordion/">
  <span>
    Accordion
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/alert/">
  <span>
    Alert
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/banner/">
  <span>
    Banner
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/breadcrumb/">
  <span>
    Breadcrumb
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/button/">
  <span>
    Button
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/button-group/">
  <span>
    Button group
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/card/">
  <span>
    Card
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/character-count/">
  <span>
    Character count
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/checkbox/">
  <span>
    Checkbox
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/collection/">
  <span>
    Collection
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/combo-box/">
  <span>
    Combo box
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/data-visualizations/">
  <span>
    Data visualizations
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/date-picker/">
  <span>
    Date picker
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/date-range-picker/">
  <span>
    Date range picker
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/file-input/">
  <span>
    File input
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/footer/">
  <span>
    Footer
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/form/">
  <span>
    Form
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/utilities/layout-grid/">
  <span>
    Grid
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/header/">
  <span>
    Header
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/icon/">
  <span>
    Icon
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/icon-list/">
  <span>
    Icon list
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/identifier/">
  <span>
    Identifier
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/in-page-navigation/">
  <span>
    In-page navigation
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/input-mask/">
  <span>
    Input mask
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/input-prefix-suffix/">
  <span>
    Input prefix/suffix
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/language-selector/">
  <span>
    Language selector
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/link/">
  <span>
    Link
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/list/">
  <span>
    List
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/memorable-date/">
  <span>
    Memorable date
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/modal/">
  <span>
    Modal
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/pagination/">
  <span>
    Pagination
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/process-list/">
  <span>
    Process list
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/prose/">
  <span>
    Prose
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/radio-buttons/">
  <span>
    Radio buttons
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/range-slider/">
  <span>
    Range slider
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/search/">
  <span>
    Search
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/select/">
  <span>
    Select
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/side-navigation/">
  <span>
    Side navigation
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/site-alert/">
  <span>
    Site alert
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/step-indicator/">
  <span>
    Step indicator
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/summary-box/">
  <span>
    Summary box
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/table/">
  <span>
    Table
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/tag/">
  <span>
    Tag
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/text-input/">
  <span>
    Text input
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/time-picker/">
  <span>
    Time picker
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/tooltip/">
  <span>
    Tooltip
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/typography/">
  <span>
    Typography
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/components/validation/">
  <span>
    Validation
  </span>
</a>


    
  </li>


</ul>

  
  </li>

  <li class="usa-nav__primary-item">
  
  
    

<button type="button" class="usa-accordion__button usa-nav__link" aria-controls="nav-patterns"
  aria-expanded="false"
  >
  <span>
    Patterns
  </span>
</button>
<ul id="nav-patterns" class="usa-nav__submenu">
  
  
  

  
  <li class="usa-nav__submenu-item">
    

<a href="/patterns/">
  <span>
    Patterns
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/patterns/intro/">
  <span>
    Introducing patterns
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/patterns/create-a-user-profile/">
  <span>
    Create a user profile
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/patterns/complete-a-complex-form/">
  <span>
    Complete a complex form
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/patterns/select-a-language/">
  <span>
    Select a language
  </span>
</a>


    
  </li>


</ul>

  
  </li>

  <li class="usa-nav__primary-item">
  
  
    

<button type="button" class="usa-accordion__button usa-nav__link" aria-controls="nav-design-tokens"
  aria-expanded="false"
  >
  <span>
    Design tokens
  </span>
</button>
<ul id="nav-design-tokens" class="usa-nav__submenu">
  
  
  

  
  <li class="usa-nav__submenu-item">
    

<a href="/design-tokens/">
  <span>
    Design tokens
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/design-tokens/color/">
  <span>
    Color
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/design-tokens/typesetting/">
  <span>
    Typesetting
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/design-tokens/flex/">
  <span>
    Flex
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/design-tokens/opacity/">
  <span>
    Opacity
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/design-tokens/order/">
  <span>
    Order
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/design-tokens/shadow/">
  <span>
    Shadow
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/design-tokens/spacing-units/">
  <span>
    Spacing units
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/design-tokens/z-index/">
  <span>
    Z-index
  </span>
</a>


    
  </li>


</ul>

  
  </li>

  <li class="usa-nav__primary-item">
  
  
    

<button type="button" class="usa-accordion__button usa-nav__link" aria-controls="nav-utilities"
  aria-expanded="false"
  >
  <span>
    Utilities
  </span>
</button>
<ul id="nav-utilities" class="usa-nav__submenu">
  
  
  

  
  <li class="usa-nav__submenu-item">
    

<a href="/utilities/">
  <span>
    Utilities
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/utilities/layout-grid/">
  <span>
    Layout grid
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/utilities/color/">
  <span>
    Color
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/utilities/height-and-width/">
  <span>
    Height and width
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/utilities/margin-and-padding/">
  <span>
    Margin and padding
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/utilities/border/">
  <span>
    Border
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/utilities/outline/">
  <span>
    Outline
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/utilities/font-size-and-family/">
  <span>
    Font size and family
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/utilities/text-styles/">
  <span>
    Text styles
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/utilities/paragraph-styles/">
  <span>
    Paragraph styles
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/utilities/display/">
  <span>
    Display
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/utilities/flex/">
  <span>
    Flex
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/utilities/shadow/">
  <span>
    Shadow
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/utilities/float/">
  <span>
    Float
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/utilities/clearfix/">
  <span>
    Clearfix
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/utilities/list-reset/">
  <span>
    List reset
  </span>
</a>


    
  </li>


</ul>

  
  </li>

  <li class="usa-nav__primary-item">
  
  
    

<button type="button" class="usa-accordion__button usa-nav__link" aria-controls="nav-templates"
  aria-expanded="false"
  >
  <span>
    Templates
  </span>
</button>
<ul id="nav-templates" class="usa-nav__submenu">
  
  
  

  
  <li class="usa-nav__submenu-item">
    

<a href="/templates/">
  <span>
    Templates
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/templates/404-page/">
  <span>
    404 page
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/templates/documentation-page/">
  <span>
    Documentation page
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/templates/landing-page/">
  <span>
    Landing page
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/templates/authentication-pages/">
  <span>
    Authentication pages
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/templates/form-templates/">
  <span>
    Form templates
  </span>
</a>


    
  </li>


</ul>

  
  </li>

  <li class="usa-nav__primary-item">
  
  
    

<button type="button" class="usa-accordion__button usa-nav__link" aria-controls="nav-about"
  aria-expanded="false"
  >
  <span>
    About
  </span>
</button>
<ul id="nav-about" class="usa-nav__submenu">
  
  
  

  
  <li class="usa-nav__submenu-item">
    

<a href="/about/">
  <span>
    About
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/about/key-benefits/">
  <span>
    Key benefits
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/about/product-values/">
  <span>
    Product values
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/about/contribute/">
  <span>
    Contribute
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/about/community/">
  <span>
    Community
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/about/whats-new/">
  <span>
    What’s new
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/about/monthly-calls/">
  <span>
    Monthly calls
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/about/product-roadmap/">
  <span>
    Product roadmap
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/about/research/">
  <span>
    Research
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/about/security/">
  <span>
    Security
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/about/website-policies-notices/">
  <span>
    Website policies and notices
  </span>
</a>


    
  </li>


</ul>

  
  </li>


    </ul>
    <!-- /Mobile nav -->
    <!-- Desktop nav -->
    <ul class="usa-nav__primary usa-nav__primary--desktop">
      
  

  
  <li class="usa-nav__submenu-item">
    

<a href="/how-to-use-uswds/">
  <span>
    How to use USWDS
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/design-principles/">
  <span>
    Design principles
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item is-current">
    

<a href="/components/"class="usa-current">
  <span>
    Components
  </span>
</a>



    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/patterns/">
  <span>
    Patterns
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/design-tokens/">
  <span>
    Design tokens
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/utilities/">
  <span>
    Utilities
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/templates/">
  <span>
    Templates
  </span>
</a>


    
  </li>

  

  
  <li class="usa-nav__submenu-item">
    

<a href="/about/">
  <span>
    About
  </span>
</a>


    
  </li>


    </ul>
    <!-- /Desktop nav -->
    <div class="usa-nav__secondary">
      <form id="search_form-mobile" class="site-search usa-search usa-search--small"
  action="https://search.usa.gov/search" accept-charset="UTF-8" method="get">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input type="hidden" name="affiliate" id="affiliate-mobile" value="uswds" />
  <div role="search">
    <label class="usa-sr-only" for="query-mobile">Search</label>
    <input
      id="query-mobile"
      class="usa-input usagov-search-autocomplete"
      name="query"
      type="search"
      autocomplete="off" />
    <button class="site-search__button usa-button margin-top-0" type="submit" name="commit">
      <img
        src="https://designsystem.digital.gov/assets/img/usa-icons-bg/search--white.svg"
        class="usa-search__submit-icon"
        alt="Search"
      >
    </button>
  </div>
</form>

      <div class="site-cta-buttons buttons">
  <a
    class="usa-button site-button-outline-secondary site-button-standards margin-x-0 desktop:margin-right-1 padding-x-05 desktop:padding-left-1 desktop:padding-right-05 desktop-lg:padding-left-205 desktop-lg:padding-right-2 font-lang-sm"
    href="/website-standards/"
    onclick="ga('send', 'event', 'Read website standards', 'Clicked Read website standards from inside site');"
  >
    Read website standards
  </a>
  <a
    class="usa-button site-button-outline-secondary site-button-download margin-x-0 desktop:margin-right-1 desktop:padding-left-1 desktop:padding-right-05 desktop-lg:padding-left-205 desktop-lg:padding-right-2 font-lang-sm"
    href="/download/"
    onclick="ga('send', 'event', 'Downloaded code and design files', 'Clicked Download code and design files from inside site');"
  >
    Download <span class="version desktop:display-none desktop-lg:display-inline">v3.13.0</span>
  </a>
  <a
    class="usa-button site-button-github margin-x-0 font-lang-sm"
    href="https://github.com/uswds/uswds"
    onclick="ga('send', 'event', 'Viewed on Github', 'Clicked View on Github from inside site');"
  >
    <?xml version="1.0" encoding="UTF-8"?><svg
  xmlns="http://www.w3.org/2000/svg"
  width="33"
  height="32"
  viewBox="0 0 33 32"
  class="logo"
>
  <title>Github logo</title>
  <path
    fill="#161514"
    fill-rule="evenodd"
    d="M16.288 0C7.294 0 0 7.293 0 16.29c0 7.197 4.667 13.302 11.14 15.456.815.15 1.112-.353 1.112-.785 0-.386-.014-1.411-.022-2.77-4.531.984-5.487-2.184-5.487-2.184-.741-1.882-1.809-2.383-1.809-2.383-1.479-1.01.112-.99.112-.99 1.635.115 2.495 1.679 2.495 1.679 1.453 2.489 3.813 1.77 4.741 1.353.148-1.052.569-1.77 1.034-2.177-3.617-.411-7.42-1.809-7.42-8.051 0-1.778.635-3.233 1.677-4.371-.168-.412-.727-2.069.16-4.311 0 0 1.367-.438 4.479 1.67a15.602 15.602 0 0 1 4.078-.549 15.62 15.62 0 0 1 4.078.549c3.11-2.108 4.475-1.67 4.475-1.67.889 2.242.33 3.899.163 4.311 1.044 1.138 1.674 2.593 1.674 4.371 0 6.258-3.809 7.635-7.437 8.038.584.503 1.105 1.497 1.105 3.017 0 2.177-.02 3.934-.02 4.468 0 .436.294.943 1.12.784 6.468-2.159 11.131-8.26 11.131-15.455C32.579 7.293 25.285 0 16.288 0"
  />
</svg>

    <span class="text">View on GitHub</span>
  </a>
</div>

    </div>
  </div>
</nav>
<div class="usa-overlay"></div>


<div class="default-container">
    <aside class="sidenav" id="page-side-navigation" aria-label="Section navigation">
    
    <div class="usa-accordion" aria-multiselectable="true">

      <!-- Accordion Item 1 -->
      <div class="usa-accordion__item">
        <h2 class="usa-accordion__heading">
          <button class="usa-accordion__button" aria-expanded="false" aria-controls="filter1">
            Geographic Region
          </button>
        </h2>
        <div id="filter1" class="usa-accordion__content usa-prose">
          <label><input type="checkbox" name="region" value="Africa"> Africa</label><br>
          <label><input type="checkbox" name="region" value="Asia"> Asia</label>
        </div>
      </div>

      <!-- Accordion Item 2 -->
      <div class="usa-accordion__item">
        <h2 class="usa-accordion__heading">
          <button class="usa-accordion__button" aria-expanded="false" aria-controls="filter2">
            Crop Type
          </button>
        </h2>
        <div id="filter2" class="usa-accordion__content usa-prose">
          <label><input type="checkbox" name="crop" value="Maize"> Maize</label><br>
          <label><input type="checkbox" name="crop" value="Wheat"> Wheat</label>
        </div>
      </div>

      <!-- Add more filters here -->
    </div>


    <ul class="site-sidenav usa-sidenav">
      
  

  
  <li class="usa-sidenav__item is-current">
    

<a href="/components/"class="usa-current">
  
    Components
  
</a>

    
    
    
    <ul class="usa-sidenav__sublist">
  

  
  <li class="usa-sidenav__item is-current">
    

<a href="/components/overview/"class="usa-current">
  
    Components
  
</a>

    
    
    
    
  


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/packages/">
  
    Packages
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/lifecycle/">
  
    Component lifecycle
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/status/">
  
    Component status
  
</a>


    
  </li>

</ul>
    
  


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/accordion/">
  
    Accordion
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/alert/">
  
    Alert
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/banner/">
  
    Banner
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/breadcrumb/">
  
    Breadcrumb
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/button/">
  
    Button
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/button-group/">
  
    Button group
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/card/">
  
    Card
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/character-count/">
  
    Character count
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/checkbox/">
  
    Checkbox
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/collection/">
  
    Collection
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/combo-box/">
  
    Combo box
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/data-visualizations/">
  
    Data visualizations
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/date-picker/">
  
    Date picker
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/date-range-picker/">
  
    Date range picker
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/file-input/">
  
    File input
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/footer/">
  
    Footer
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/form/">
  
    Form
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/utilities/layout-grid/">
  
    Grid
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/header/">
  
    Header
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/icon/">
  
    Icon
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/icon-list/">
  
    Icon list
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/identifier/">
  
    Identifier
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/in-page-navigation/">
  
    In-page navigation
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/input-mask/">
  
    Input mask
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/input-prefix-suffix/">
  
    Input prefix/suffix
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/language-selector/">
  
    Language selector
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/link/">
  
    Link
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/list/">
  
    List
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/memorable-date/">
  
    Memorable date
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/modal/">
  
    Modal
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/pagination/">
  
    Pagination
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/process-list/">
  
    Process list
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/prose/">
  
    Prose
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/radio-buttons/">
  
    Radio buttons
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/range-slider/">
  
    Range slider
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/search/">
  
    Search
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/select/">
  
    Select
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/side-navigation/">
  
    Side navigation
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/site-alert/">
  
    Site alert
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/step-indicator/">
  
    Step indicator
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/summary-box/">
  
    Summary box
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/table/">
  
    Table
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/tag/">
  
    Tag
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/text-input/">
  
    Text input
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/time-picker/">
  
    Time picker
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/tooltip/">
  
    Tooltip
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/typography/">
  
    Typography
  
</a>


    
  </li>

  

  
  <li class="usa-sidenav__item">
    

<a href="/components/validation/">
  
    Validation
  
</a>


    
  </li>


    </ul>
    
  </aside>
    <main id="main-content" class="main-content">
      <div class="styleguide-content usa-prose site-prose">
        <header>
          <h1 id="components" class="site-page-title">Accessions</h1>
        </header>
        <p class="site-text-intro">USWDS components are simple and consistent solutions to common user-interface needs.</p>
        @RenderBody()



        <!-- Add wcag compliance status tag -->
        <!-- Add compliance tag -->









        
<div class="bg-base-lighter padding-2 radius-md">
  <h2 class="font-lang-lg margin-top-0 margin-bottom-0">Find a USWDS component</h2>
  <div role="region" aria-label="Component search" aria-atomic="true" class="margin-top-1">
    <label for="icon-filter">Filter by name and keyword</label>
    <input class="usa-input" id="icon-filter" type="text" onkeyup="filter(this)" />
    <p class="text-base-darker margin-top-1 margin-bottom-0" aria-live="polite"><span id="component-count"><strong>47</strong> components found</span></p>
  </div>
</div>

<p>See the <a href="/components/packages/">packages</a> section to learn how to import only the components your project needs.</p>

<div class="usa-card-group flex-row margin-top-4">


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Accordion" data-meta="Accordion ">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/accordion/">Accordion</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>An accordion is a list of headers that hide or reveal additional content when selected.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Alert" data-meta="Alert ">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/alert/">Alert</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>An alert keeps users informed of important and sometimes time-sensitive changes.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Banner" data-meta="Banner ">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/banner/">Banner</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>Banners identify official websites of government organizations in the United States. They also help visitors understand whether a website is official and secure.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Breadcrumb" data-meta="Breadcrumb ">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/breadcrumb/">Breadcrumb</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>Breadcrumbs provide secondary navigation to help users understand where they are in a website.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Button group" data-meta="Button group ">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/button-group/">Button group</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>A button group collects similar or related actions.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Button" data-meta="Button ">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/button/">Button</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>A button draws attention to important actions with a large selectable surface.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Card" data-meta="Card ">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/card/">Card</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>Cards contain content and actions about a single subject.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Character count" data-meta="Character count form forms form controls input validation">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/character-count/">Character count</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>Character count helps users know how much text they can enter when there is a limit on the number of characters.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Checkbox" data-meta="Checkbox form forms form controls input validation">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/checkbox/">Checkbox</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>Checkboxes allow users to select one or more options from a list.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Collection" data-meta="Collection ">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/collection/">Collection</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>A collection displays a compact list of multiple related items like articles or events. The list links each item to its original source.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Combo box" data-meta="Combo box form forms form controls input select">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/combo-box/">Combo box</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>A combo box helps users select an item from a large list of options.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Data visualizations" data-meta="Data visualizations dataviz infographics charts graph graphs line bar">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/data-visualizations/">Data visualizations</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>Data visualizations help communicate patterns and relationships in a data set.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Date picker" data-meta="Date picker calendar form forms form controls input">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/date-picker/">Date picker</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>A date picker helps users select a single date.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Date range picker" data-meta="Date range picker calendar form forms form controls input">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/date-range-picker/">Date range picker</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>A date range picker helps users select a range between two dates.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="File input" data-meta="File input document upload form forms form controls input">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/file-input/">File input</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>File input allows users to attach one or multiple files.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Footer" data-meta="Footer slim big">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/footer/">Footer</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>A footer serves site visitors who arrive at the bottom of a page without finding what they want.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Form" data-meta="Form ">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/form/">Form</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>A form allows users to enter information into a page.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Header" data-meta="Header ">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/header/">Header</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>A header helps users identify where they are and provides a quick, organized way to reach the main sections of a website.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Icon list" data-meta="Icon list ">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/icon-list/">Icon list</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>An icon list reinforces the meaning and visibility of individual list items with a leading icon.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Icon" data-meta="Icon image graphic picture material font awesome icons">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/icon/">Icon</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>Icons help communicate meaning, actions, status, or feedback.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Identifier" data-meta="Identifier footer required links indentifier logo">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/identifier/">Identifier</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>The identifier communicates a site’s parent agency and displays agency links required by federal laws and policies.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="In-page navigation" data-meta="In-page navigation in-page nav">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/in-page-navigation/">In-page navigation</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>The in-page navigation allows navigation to specific sections on a lengthy content page</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Input mask" data-meta="Input mask input form input mask">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/input-mask/">Input mask</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>An input mask is a string expression that constrains input to support valid input values.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Input prefix/suffix" data-meta="Input prefix/suffix input form controls credit card masking image icon">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/input-prefix-suffix/">Input prefix/suffix</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>Use input prefixes and suffixes to show symbols or abbreviations that help users enter the right type of information in a form’s text input.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Language selector" data-meta="Language selector ">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/language-selector/">Language selector</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>The consistent placement, interface, and behavior of the language selection component allows users to easily find and access content in the language the user is most comfortable in.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Link" data-meta="Link typography type typesetting hyperlink external link">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/link/">Link</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>A link connects users to a different page or further information.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="List" data-meta="List typography type typesetting bulleted numbered unordered ordered">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/list/">List</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>A list organizes information into discrete sequential sections.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Memorable date" data-meta="Memorable date form forms form controls input birthday memorable date">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/memorable-date/">Memorable date</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>A select for month followed by two text fields is the easiest way for users to enter most dates.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Modal" data-meta="Modal ">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/modal/">Modal</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>A modal disables page content and focuses the user’s attention on a single task or message.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Pagination" data-meta="Pagination ">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/pagination/">Pagination</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>Pagination is navigation for paginated content.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Process list" data-meta="Process list steps step by step stepper">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/process-list/">Process list</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>A process list displays the steps or stages of important instructions or processes.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Prose" data-meta="Prose typography type typesetting hyperlink heading header text writing body">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/prose/">Prose</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>Format a block of running text.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Radio buttons" data-meta="Radio buttons form forms form controls input checkbox selector">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/radio-buttons/">Radio buttons</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>Radio buttons allow users to select exactly one choice from a group.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Range slider" data-meta="Range slider form forms form controls input drag volume">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/range-slider/">Range slider</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>A range slider allows users to choose an approximate number from a range.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Search" data-meta="Search find search.gov google input form form controls">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/search/">Search</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>Search allows users to search for specific content if they know what search terms to use or can’t find desired content in the main navigation</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Select" data-meta="Select ">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/select/">Select</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>A select component allows users to choose one option from a temporary modal menu.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Side navigation" data-meta="Side navigation sidenav nav toc">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/side-navigation/">Side navigation</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>Hierarchical, vertical navigation to place at the side of a page.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Site alert" data-meta="Site alert warning bar urgent">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/site-alert/">Site alert</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>A site alert communicates urgent sitewide information.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Step indicator" data-meta="Step indicator stepper step by step progress bar form multi page form progress">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/step-indicator/">Step indicator</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>A step indicator updates users on their progress through a multi-step process.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Summary box" data-meta="Summary box tldr tl;dr callout">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/summary-box/">Summary box</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>A summary box highlights key information from a longer page or displays next steps.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Table" data-meta="Table table zebra stripes data tabular sorted sortable sorting stacked borderless scrollable scrolling sticky">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/table/">Table</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>A table shows information in columns and rows.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Tag" data-meta="Tag label lable info">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/tag/">Tag</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>A tag draws attention to new or categorized content elements.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Text input" data-meta="Text input input box form controls">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/text-input/">Text input</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>A text input allows users to enter any combination of letters, numbers, or symbols. Text input boxes can span single or multiple lines.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Time picker" data-meta="Time picker input box form controls schedule">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/time-picker/">Time picker</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>A time picker helps users select a specific time.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Tooltip" data-meta="Tooltip ">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/tooltip/">Tooltip</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>A tooltip is a short descriptive message that appears when a user hovers or focuses on an element.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Typography" data-meta="Typography type typesetting source sans pro public sans roboto mono leading measure">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/typography/">Typography</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>Government websites need clear and consistent headings, highly legible body paragraphs, clear labels, and easy-to-use input fields. Our default typefaces are designed for legibility and can adapt to a variety of visual tones.</p>

      </div>
    </div>
  </li>


  <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4 margin-bottom-2" role="region" aria-atomic="true" aria-label="Validation" data-meta="Validation forms error check checking checkmark">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h3 class="usa-card__heading font-lang-lg"><a href="/components/validation/">Validation</a></h3>
      </header>
      <div class="usa-card__body font-lang-sm">
        <p>Stating validation requirements up front, with live feedback, means users won’t be left guessing.</p>

      </div>
    </div>
  </li>


<script>
function filter(e){
    search = e.value.toLowerCase();
    document.querySelectorAll('.site-component-card').forEach(function(row){
        text = row.getAttribute("data-meta").toLowerCase();
        if(text.match(search)){
            row.classList.remove("display-none");
        } else {
            row.classList.add("display-none");
        }
    });
    componentCount = document.querySelectorAll('.site-component-card:not(.display-none)').length;
    var word = (componentCount === 1) ? "component" : "components";
    document.getElementById("component-count").innerHTML = `<strong>${componentCount}</strong> ${word} found`
}
</script>
</div>


        




      </div>
    </main>
  
</div>





  
  <script src="https://touchpoints.app.cloud.gov/touchpoints/5c2410e4.js" async></script>






<section class="touchpoints__container" role="complementary" aria-label="Page feedback">
  
    <button type="button" class="usa-button site-button usa-button--outline" id="touchpoints-modal-button" aria-label="Provide feedback about this page" tabindex="0">Was this page helpful?</button>
  
</section>



<footer class="usa-footer site-footer">
  <div class="usa-footer__secondary-section">
    <div class="grid-container footer-content">
      <h2>Become part of the community</h2>
      <p>
        USWDS is an active open source community of government engineers, content specialists, and designers. Our contributors both in and out of government support dozens of agencies and nearly 200 sites.
      </p>
      <div class="grid-row footer-contact-links">
        
          <div class="tablet:grid-col">
            <div class="usa-media-block">
              <div class="usa-media-block__img circle-5 bg-accent-cool display-flex flex-row flex-align-center flex-justify-center text-white">
                <svg class="usa-icon usa-icon--size-3" aria-hidden="true" role="img" focusable="false">
                  <use href="https://designsystem.digital.gov/assets/img/sprite.svg#help"></use>
                </svg>
              </div>
              <div class="usa-media-block__body">
                <h3>Have an idea or an issue?</h3>
                <a href="https://github.com/uswds/uswds/issues/new/choose">Reach out in GitHub</a>
              </div>
            </div>
          </div>
        
          <div class="tablet:grid-col">
            <div class="usa-media-block">
              <div class="usa-media-block__img circle-5 bg-accent-cool display-flex flex-row flex-align-center flex-justify-center text-white">
                <svg class="usa-icon usa-icon--size-3" aria-hidden="true" role="img" focusable="false">
                  <use href="https://designsystem.digital.gov/assets/img/sprite.svg#people"></use>
                </svg>
              </div>
              <div class="usa-media-block__body">
                <h3>Engage with the community</h3>
                <a href="https://designsystem.digital.gov/about/community/">Find a channel that works for you</a>
              </div>
            </div>
          </div>
        
          <div class="tablet:grid-col">
            <div class="usa-media-block">
              <div class="usa-media-block__img circle-5 bg-accent-cool display-flex flex-row flex-align-center flex-justify-center text-white">
                <svg class="usa-icon usa-icon--size-3" aria-hidden="true" role="img" focusable="false">
                  <use href="https://designsystem.digital.gov/assets/img/sprite.svg#mail"></use>
                </svg>
              </div>
              <div class="usa-media-block__body">
                <h3>Subscribe to our newsletter</h3>
                <a href="https://public.govdelivery.com/accounts/USGSATTS/subscriber/new?qsp=GSA_TTS">Sign up for USWDS updates</a>
              </div>
            </div>
          </div>
        
          <div class="tablet:grid-col">
            <div class="usa-media-block">
              <div class="usa-media-block__img circle-5 bg-accent-cool display-flex flex-row flex-align-center flex-justify-center text-white">
                <svg class="usa-icon usa-icon--size-3" aria-hidden="true" role="img" focusable="false">
                  <use href="https://designsystem.digital.gov/assets/img/sprite.svg#support"></use>
                </svg>
              </div>
              <div class="usa-media-block__body">
                <h3>Get support</h3>
                <a href="mailto:uswds@gsa.gov">Email the USWDS team</a>
              </div>
            </div>
          </div>
        
      </div>
    </div>

    <div class="bg-base-light padding-y-1 line-height-sans-3 font-lang-4">
      <div class="grid-container">
        Looking for USWDS v1 documentation?
        <a
          href="https://v1.designsystem.digital.gov"
          class="text-ink text-bold hover:text-no-underline"
          >Visit v1.designsystem.digital.gov</a
        >
      </div>
    </div>
  </div>
</footer>


<div class="usa-identifier site-identifier">
  <section
    class="usa-identifier__section usa-identifier__section--masthead"
    aria-label="Agency identifier,,,,,,"
  >
    <div class="usa-identifier__container">
      <div class="usa-identifier__logos"><a href="javascript:void(0);" class="usa-identifier__logo">
          <img
            class="usa-identifier__logo-img"
            src="/img/gsa-logo.svg"
            alt="GSA Logo"
            role="img"
            width="48"
            height="48"
          >
        </a></div>
      <section class="usa-identifier__identity" aria-label="Agency description">
        <p class="usa-identifier__identity-domain">designsystem.digital.gov</p>
        <p class="usa-identifier__identity-disclaimer"><span aria-hidden="true">An </span>official website of the <a href=https://gsa.gov>General Services Administration</a></p>
      </section>
    </div>
  </section>
  <nav class="usa-identifier__section usa-identifier__section--required-links" aria-label="Important links">
      <div class="usa-identifier__container">
        <ul class="usa-identifier__required-links-list"><li class="usa-identifier__required-links-item">
            <a href="https://www.gsa.gov/about-us" class="usa-identifier__required-link">About GSA</a>
          </li><li class="usa-identifier__required-links-item">
            <a href="https://www.gsa.gov/website-information/accessibility-statement" class="usa-identifier__required-link">Accessibility statement</a>
          </li><li class="usa-identifier__required-links-item">
            <a href="https://www.gsa.gov/reference/freedom-of-information-act-foia" class="usa-identifier__required-link">FOIA requests</a>
          </li><li class="usa-identifier__required-links-item">
            <a href="https://www.gsa.gov/reference/civil-rights-programs/notification-and-federal-employee-antidiscrimination-and-retaliation-act-of-2002" class="usa-identifier__required-link">No FEAR Act data</a>
          </li><li class="usa-identifier__required-links-item">
            <a href="https://www.gsaig.gov/" class="usa-identifier__required-link">Office of the Inspector General</a>
          </li><li class="usa-identifier__required-links-item">
            <a href="https://www.gsa.gov/reference/reports/budget-performance" class="usa-identifier__required-link">Performance reports</a>
          </li><li class="usa-identifier__required-links-item">
            <a href="https://www.gsa.gov/website-information/website-policies" class="usa-identifier__required-link">Privacy policy</a>
          </li></ul>
      </div>
  </nav>
  <section class="usa-identifier__section usa-identifier__section--usagov" aria-label="Government information and services">
    <div class="usa-identifier__container">
      <div class="usa-identifier__usagov-description">
        Looking for U.S. government information and services?
      </div>
      <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
    </div>
  </section>
</div>



    <script src="https://designsystem.digital.gov/assets/js/styleguide.js"></script>

<script src="https://designsystem.digital.gov/assets/js/vendor/uswds.min.js"></script>
<!--<script>
//<![CDATA[
      var usasearch_config = { siteHandle:"uswds" };

      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "//search.usa.gov/javascripts/remote.loader.js";
      document.getElementsByTagName("head")[0].appendChild(script);

//]]>
</script>
-->

  </body>
</html