@{
    ViewData["Title"] = "Home Page";
}
<ul class="usa-card-group">
    <li class="usa-card tablet-lg:grid-col-3 grid-col-3 maxw-sm">
        <div class="usa-card__container">
            <div class="usa-card__header">
                <h4 class="usa-card__heading">
                     Accessions 
                </h4>
            </div>
            <div class="usa-card__body">
                <p style="font-size:35pt;">
                     
                </p>
            </div>
            <div class="usa-card__footer">

                <a href="@Url.Action("Accession","Pages")" class="usa-button">Acessions</a>

                 
                @*                                     <ul class="usa-button-group usa-button-group--segmented">
                                        <li class="usa-button-group__item" style="margin:2px;">
                                            <button type="button" class="usa-button usa-button--unstyled" style="margin:2px;">TEST</button>
                                        </li>
                                        <li class="usa-button-group__item" style="margin:2px;">
                                            <button type="button" class="usa-button usa-button--unstyled" style="margin:2px;">Hybrid</button>
                                        </li>
                                        <li class="usa-button-group__item" style="margin:2px;">
                                            <button type="button" class="usa-button usa-button--unstyled">
                                                Satellite
                                            </button>
                                        </li>
                                    </ul>
 *@                                </div>
        </div>
    </li>
    <li class="usa-card tablet-lg:grid-col-3 grid-col-3 maxw-sm">
        <div class="usa-card__container">
            <div class="usa-card__header">
                <h4 class="usa-card__heading">
                    <a href="https://www.ars.usda.gov/northeast-area/beltsville-md-barc/beltsville-agricultural-research-center/national-germplasm-resources-laboratory/docs/plant-inventory-books/" target="_blank" rel="noreferrer">
                        Crop Wild Relatives
                    </a>
                </h4>
            </div>
            <div class="usa-card__body">
                 
                <p style="font-size:35pt;">
                     
                </p>
                
            </div>
            <div class="usa-card__footer">
                <button class="usa-button">Browse</button>
            </div>
        </div>
    </li>
    <li class="usa-card tablet-lg:grid-col-3 grid-col-3 maxw-sm">
        <div class="usa-card__container">
            <div class="usa-card__header">
                <h4 class="usa-card__heading">
                    <a href="@Url.Action("pvp","Pages")">
                        Taxonomy
                    </a>
                </h4>
            </div>
            <div class="usa-card__body">
                
                <p style="font-size:35pt;">
                     
                </p>
                
            </div>
            <div class="usa-card__footer">
                <button class="usa-button">Browse</button>
            </div>
        </div>
    </li>
    <li class="usa-card tablet-lg:grid-col-3 grid-col-3 maxw-sm">
        <div class="usa-card__container">
            <div class="usa-card__header">
                <h4 class="usa-card__heading">
                      
                        Sites
                     
                </h4>
            </div>
            <div class="usa-card__body">
                <p>
                    45
                </p>                 
            </div>
            <div class="usa-card__footer">
            </div>
        </div>
    </li>
    
</ul>
