@{
    ViewData["Title"] = "Home Page";
}
<ul class="usa-card-group">
    <li class="usa-card tablet-lg:grid-col-3 grid-col-3 maxw-sm">
        <div class="usa-card__container">
            <div class="usa-card__header">
                <h4 class="usa-card__heading">
                    <a href="https://npgsweb.ars-grin.gov/gringlobal/search">
                        Accessions (123,456)
                    </a>
                </h4>
            </div>
            <div class="usa-card__body">
                <p style="font-size:35pt;">
                     
                </p>
            </div>
            <div class="usa-card__footer">
                <a href="@Url.Action("Accession","Pages")" class="usa-button">Acessions</a>
            </div>
        </div>
    </li>
    <li class="usa-card tablet-lg:grid-col-3 grid-col-3 maxw-sm">
        <div class="usa-card__container">
            <div class="usa-card__header">
                <h4 class="usa-card__heading">
                    <a href="https://npgsweb.ars-grin.gov/gringlobal/taxon/taxonomysearchcwr" target="_blank" rel="noreferrer">
                        Crop Wild Relatives (1,234)
                    </a>
                </h4>
            </div>
            <div class="usa-card__body">
                 
                <p style="font-size:35pt;">
                </p>
            </div>
            <div class="usa-card__footer">
                <button class="usa-button">Browse</button>
            </div>
        </div>
    </li>
    <li class="usa-card tablet-lg:grid-col-3 grid-col-3 maxw-sm">
        <div class="usa-card__container">
            <div class="usa-card__header">
                <h4 class="usa-card__heading">
                    <a href="https://npgsweb.ars-grin.gov/gringlobal/taxon/taxonomysearch">
                        Taxa (12,345)
                    </a>
                </h4>
            </div>
            <div class="usa-card__body">
                <p style="font-size:35pt;">
                </p>
            </div>
            <div class="usa-card__footer">
                <button class="usa-button">Browse</button>
            </div>
        </div>
    </li>
    <li class="usa-card tablet-lg:grid-col-3 grid-col-3 maxw-sm">
        <div class="usa-card__container">
            <div class="usa-card__header">
                <h4 class="usa-card__heading">
                    <a href="#">
                        Repositories (34)
                    </a>
                </h4>
            </div>
            <div class="usa-card__body">
                <p>
                </p>                 
            </div>
            <div class="usa-card__footer">
                <button class="usa-button">Browse</button>
            </div>
        </div>
    </li>
</ul>
