@{
    ViewData["Title"] = "Home Page";
}

<div class="grid-row grid-gap">
    <div class="tablet:grid-col-12 usa-prose">
        <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">USDA-ARS National Genetic Resources</h2>
        <p>
            The <a href="https://www.ars.usda.gov/"
                   class="usa-link--external"
                   target="_blank"
                   rel="noreferrer">
                United States Department of Agriculture-Agricultural Research Service (USDA-ARS) ↗</a> acquires, documents, maintains, and distributes vast collections of genetic resources (living materials from 
            which organisms can be grown) that are important for agricultural production. These materials are kept alive in a 
            range of conditions including refrigerators, freezers, liquid nitrogen, fields, greenhouses, or as <i>in vitro</i> cultures. 
            Resources kept in cold storage can be revived and used as needed.
        </p>
        <p>
            Collections of plant, animal, and microbial genetic resources are maintained by many different USDA-ARS Research Units 
            across the United States. These collections:
            <ul>
                <li>
                    <strong>protect genetic diversity</strong> by maintaining resources from wild species or uncultivated 
                    populations collected at their centers of origin and around the world. 
                    In some cases, the wild populations from which these species originated no longer exist or are not accessible.
                </li>
                <li>
                    <strong>preserve our global agricultural heritage</strong> by conserving local and historic 
                    varieties that may no longer be available elsewhere.
                </li>
                <li>
                    <strong>are freely available for scientific use</strong> by breeders, researchers, and educators 
                    across the United States. Access to these diverse collections enables advances in agricultural 
                    productivity across most sectors.
                </li>
                
            </ul>
            Information about these collections is accessible in online databases, through the Plants (NPGS), Animals (NAGP), and Microbes links above.
        </p>
    </div>
    <div class="gcse-search"></div>
</div>


