@{
    ViewData["Title"] = "Home Page";
}

<div class="grid-row grid-gap">
    <div class="tablet:grid-col-12 usa-prose">
        <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">USDA-ARS National Genetic Resources</h2>
        <p>
            The <a href="https://www.ars.usda.gov/"
                   class="usa-link--external"
                   target="_blank"
                   rel="noreferrer">
                United States Department of Agriculture-Agricultural Research Service (USDA-ARS)
            </a> maintains
            vast collections of plant, animal, and microbial genetic resources (living materials
            from which organisms can be grown) that are important for agricultural production.
            These collections are kept alive in a range of conditions including refrigerators,
            freezers, liquid nitrogen, fields, greenhouses, or as <i>in vitro</i> cultures. Resources
            kept in cold storage can be revived and used as needed.
        </p>
        <p>
            USDA-ARS genetic resource collections:

            <ul>
                <li>
                    <strong>
                        provide breeding, research, and education programs with access to wide ranges of geneticlly diverse accessions
                    </strong>, enabling advances in agricultural productivity across nearly all sectors.
                </li>
                <li>
                    <strong>preserve our global agricultural heritage</strong> through the conservation of local and historic
                    varieties that may no longer be available elsewhere.
                </li>
                <li>
                    <strong>maintain wild relatives</strong>, or species that might not be cultivated,
                    but instead offer extensive diversity from both centers of origin and from around the world.
                    In some cases, the wild populations from which these species originated no longer exist
                    or are not accessible.
                </li>
                <li>
                    <strong>
                        are acquired, conserved, documented, and distributed expressly
                        for scientific purposes.
                    </strong> The collections are maintained by many different USDA-ARS Research
                    Units, and are distributed widely across the United States.
                </li>
            </ul>
            Information about these collections is accessible in
            online databases, through the Plants (NPGS), Animals (NAGP), and Microbes links above.
        </p>
    </div>
    <div class="gcse-search"></div>
</div>


