@{
    ViewData["Title"] = "Home Page";
}

<div class="grid-container">
    <div class="grid-row">
        <div class="tablet:grid-col">
            <div class="usa-card__container">
                <div class="usa-card__header">
                    <h4 class="usa-card__heading">Plant Names</h4>
                </div>
                
                <div class="usa-card__body">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis earum
                        tenetur quo cupiditate, eaque qui officia recusandae.
                    </p>
                </div>
                <div class="usa-card__footer">
                    <a href="#" class="usa-button">
                        
                        Browse Plant Names
                    </a>
                </div>
            </div>
        </div>
        <div class="tablet:grid-col">
            <div class="usa-card__container">
                <div class="usa-card__header">
                    <h4 class="usa-card__heading">Authors</h4>
                </div>
                
                <div class="usa-card__body">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis earum
                        tenetur quo cupiditate, eaque qui officia recusandae.
                    </p>
                </div>
                <div class="usa-card__footer">
                    <a href="#" class="usa-button">
                        Browse Authors
                    </a>
                </div>
            </div>
        </div>
        <div class="tablet:grid-col">
            <div class="usa-card__container">
                <div class="usa-card__header">
                    <h4 class="usa-card__heading">
                        Browse Publications</h4>
                </div>
                 
                <div class="usa-card__body">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis earum
                        tenetur quo cupiditate, eaque qui officia recusandae.
                    </p>
                </div>
                <div class="usa-card__footer">
                    <a href="#" class="usa-button">Visit Florida Keys</a>
                </div>
            </div>
        </div>
    </div>
</div>
