<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="Login.gov" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="og:site_name" content="Login.gov" />


    <title>Welcome | Login.gov</title>

    <script nonce="7357cd3c8e41faaa15dd8225bc4d3eb3">
        //<![CDATA[

            document.documentElement.classList.replace('no-js', 'js');

        //]]>
    </script>
    <link rel="preload" href="https://secure.login.gov/assets/public-sans/PublicSans-Bold-c73ef2d4.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="https://secure.login.gov/assets/public-sans/PublicSans-Regular-5f371c89.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6LcWWqwnAAAAAL1B9WtNWT8nwwPy_0KiGMEeT3gl" async="async"></script>

    <link rel="stylesheet" href="https://secure.login.gov/assets/application-66dadd8e.css" />
    <link rel="stylesheet" href="https://secure.login.gov/assets/tab_navigation_component-845d2be3.css">
    <link rel="stylesheet" href="https://secure.login.gov/assets/click_observer_component-6ef666ac.css">
    <link rel="stylesheet" href="https://secure.login.gov/assets/password_toggle_component-9050b0a0.css">
    <link rel="stylesheet" href="https://secure.login.gov/assets/captcha_submit_button_component-77f7192d.css">
    <link rel="stylesheet" href="https://secure.login.gov/assets/icon_component-2d022cd4.css">
    <link rel="stylesheet" href="https://secure.login.gov/assets/modal_component-ae3997a1.css">
    <link rel="stylesheet" href="https://secure.login.gov/assets/utilities-b943a2ae.css" />
    <link rel="stylesheet" href="https://secure.login.gov/assets/print-dbe18894.css" media="print" />
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="vh_RNnmB-7TDtprIaCwrFfGY23PEA8O6l3hyckZURrSqq-FEOyFz9LwmWkl6d3jRSaRU22SJ6rKqO8He78g6vA" />

    <link rel="apple-touch-icon" type="image/png" href="https://secure.login.gov/assets/favicons/apple-touch-icon-24056e34.png" sizes="180x180" />
    <link rel="icon" type="image/png" href="https://secure.login.gov/assets/favicons/favicon-40-0fde917b.png" sizes="40x40" />
    <link rel="icon" type="image/png" href="https://secure.login.gov/assets/favicons/favicon-16-b68bb09d.png" sizes="16x16" />
    <link rel="mask-icon" href="https://secure.login.gov/assets/favicons/safari-pinned-tab-25a99cb8.svg" color="#e21c3d" />

    <script nonce="7357cd3c8e41faaa15dd8225bc4d3eb3">
        //<![CDATA[

            _e=[],addEventListener("error",(e)=>_e.push(e));

        //]]>
    </script>

    <script src="https://secure.login.gov/assets/init-6ad4cfee.js" integrity="sha256-eMXV2njRJxgQrFbuljRT/UTWePGrhl83bHHDDd+jFPw="></script>

</head>

<body class="site tablet:bg-primary-lighter">

    <a class="usa-skipnav" href="#main-content">Skip to main content</a>
    <header>

        <section class="usa-banner usa-banner--centered" aria-label="Official government website">
            <div class="usa-accordion">
                <div class="usa-banner__header">
                    <div class="usa-banner__inner">
                        <img alt="US flag" class="usa-banner__header-flag" src="https://secure.login.govhttps://secure.login.gov/assets/us_flag-9715e180.svg" width="16" height="11" />
                        <div class="grid-col-fill tablet:grid-col-auto">
                            <p class="usa-banner__header-text">
                                An official website of the United States government
                            </p>
                            <p class="usa-banner__header-action" aria-hidden="true">Here’s how you know</p>
                        </div>
                        <button class="usa-accordion__button usa-banner__button" aria-expanded="false" aria-controls="gov-banner">
                            <span class="usa-banner__button-text">Here’s how you know</span>
                        </button>
                    </div>
                </div>
                <div class="usa-banner__content usa-accordion__content" id="gov-banner">
                    <div class="grid-row grid-gap-lg">
                        <div class="usa-banner__guidance tablet:grid-col-6">
                            <img alt="" aria-hidden="true" class="usa-banner__icon usa-media-block__img" src="https://secure.login.govhttps://secure.login.gov/assets/icon-dot-gov-c85c77ab.svg" width="40" height="40" />
                            <div class="usa-media-block__body">
                                <p>
                                    <strong>Official websites use .gov</strong>
                                    <br> A <strong>.gov</strong> website belongs to an official government organization in the United States.
                                </p>
                            </div>
                        </div>
                        <div class="usa-banner__guidance tablet:grid-col-6">
                            <img alt="" aria-hidden="true" class="usa-banner__icon usa-media-block__img" src="https://secure.login.govhttps://secure.login.gov/assets/icon-https-4fe6ff7d.svg" width="40" height="40" />
                            <div class="usa-media-block__body">
                                <p>
                                    <strong>Secure .gov websites use HTTPS</strong>
                                    <br>
                                    A <strong>lock</strong> ( <img width="9" height="12" class="usa-banner__lock-image" alt="A locked padlock" src="https://secure.login.gov/assets/lock-c7ffa794.svg" /> ) or <strong>https://</strong> means you’ve safely connected to the .gov website. Share sensitive information only on official, secure websites.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="page-header page-header--basic">
            <img height="15" width="111" alt="Login.gov" src="https://secure.login.govhttps://secure.login.gov/assets/logo-a6f6c558.svg" />
            <div class="margin-x-105 height-5 border-right border-primary-light"></div>
            <img height="40" alt="USAJOBS" src="https://secure.login.gov/assets/sp-logos/usajobs-5133d7f9.svg" />

        </div>
    </header>

    <main class="site-wrap bg-primary-lighter" id="main-content">
        <div class="grid-container padding-y-4 tablet:padding-y-8 card padding-x-2 tablet:padding-x-10 tablet:margin-bottom-8">



            <div class="text-center">
                <img width="280" height="91" alt="" aria-hidden="true" src="https://secure.login.govhttps://secure.login.gov/assets/user-access-a6476b5c.svg" />
                <h1 class="margin-bottom-4 text-primary text-normal">
                    <strong>USAJOBS</strong>
                    is using Login.gov to allow you to sign in to your account safely and securely.
                </h1>
            </div>


            <nav aria-label="Account creation tabs" class="margin-bottom-4 tab-navigation">
                <ul class="usa-button-group">
                    <lg-click-observer event-name="tab_navigation_current_page_clicked" payload="{&quot;path&quot;:&quot;/&quot;}" role="listitem" class="usa-button-group__item display-list-item">
                        <a aria-current="page" class="usa-button usa-button--big usa-button--outline" href="/">Sign in</a>

                    </lg-click-observer>
                    <li class="usa-button-group__item">
                        <a class="usa-button usa-button--big usa-button--unstyled" href="/sign_up/enter_email">Create an account</a>

                    </li>
                </ul>
            </nav>

            <h1 class="page-heading">Sign in for existing users</h1>

            <div role="status" class="usa-alert usa-alert--info margin-bottom-4">
                <div class="usa-alert__body">
                    <div class="usa-alert__text">
                        <p>This U.S. Federal Government system is to be used by authorized users only. Information from this system resides on computer systems funded by the government. The data and documents on this system include federal records that may contain sensitive information protected by various federal statutes, including the Privacy Act, 5 U.S.C. § 552a.</p>
                        <p>All access or use of this system constitutes user understanding and acceptance of these terms and constitutes unconditional consent to review, monitoring and action by all authorized government and law enforcement personnel. While using this system your use may be monitored, recorded and subject to audit.</p>
                        <p>Unauthorized user attempts or acts to (1) access, upload, change, or delete or deface information on this system, (2) modify this system, (3) deny access to this system, (4) accrue resources for unauthorized use or (5) otherwise misuse this system are strictly prohibited. Such attempts or acts are subject to action that may result in criminal, civil, or administrative penalties.</p>
                    </div>
                </div>
            </div>


            <form class="simple_form margin-top-4 new_user" id="new_user" autocomplete="off" action="/" accept-charset="UTF-8" method="post">
                <input type="hidden" name="authenticity_token" value="ptuhggmM-4KMZusZMDiJyJDJFzAg2H2UJPwZysWKfMw19dDfV9cUMHFwLTZpZH2jIiIzMkH100qQ1hvDz3ZDWw" autocomplete="off" />
                <lg-validated-field error-id="validated-field-error-1d7df4ab">
                    <script type="application/json" class="validated-field__error-strings">{"valueMissing":"This field is required"}</script>
                    <div class="margin-bottom-4 email required user_email validated-field__input-wrapper"><label class="usa-label email required" for="user_email">Email address</label><input class="usa-input usa-input--big string email required validated-field__input" autocorrect="off" aria-invalid="false" required="required" type="email" name="user[email]" id="user_email" /></div>
                </lg-validated-field>
                <lg-password-toggle class="margin-bottom-4">
                    <lg-validated-field error-id="validated-field-error-54670805">
                        <script type="application/json" class="validated-field__error-strings">{"valueMissing":"This field is required"}</script>
                        <div class="margin-bottom-4 password required user_password validated-field__input-wrapper"><label class="usa-label password required" for="password-toggle-input-cc9ac3ca">Password</label><input class="usa-input usa-input--big password required password-toggle__input validated-field__input" autocomplete="current-password" id="password-toggle-input-cc9ac3ca" aria-invalid="false" required="required" type="password" name="user[password]" /></div>
                    </lg-validated-field>
                    <input id="password-toggle-cc9ac3ca"
                           type="checkbox"
                           class="usa-checkbox__input password-toggle__toggle"
                           aria-controls="password-toggle-input-cc9ac3ca">
                    <label for="password-toggle-cc9ac3ca"
                           class="usa-checkbox__label password-toggle__toggle-label">
                        Show password
                    </label>
                </lg-password-toggle>
                <input type="hidden" name="platform_authenticator_available" id="platform_authenticator_available" value="id platform_authenticator_available" autocomplete="off" />


                <lg-captcha-submit-button recaptcha-site-key="6LcWWqwnAAAAAL1B9WtNWT8nwwPy_0KiGMEeT3gl" recaptcha-action="sign_in" recaptcha-enterprise="true">
                    <input value="" class="hidden" autocomplete="off" type="hidden" name="user[recaptcha_token]" id="user_recaptcha_token" />
                    <lg-spinner-button class="" long-wait-duration-ms="15000">
                        <button name="button" type="submit" class="usa-button usa-button--big usa-button--wide usa-button--full-width">
                            <span class="spinner-button__content">Submit</span>
                            <span class="spinner-dots spinner-dots--centered" aria-hidden="true">
                                <span class="spinner-dots__dot"></span>
                                <span class="spinner-dots__dot"></span>
                                <span class="spinner-dots__dot"></span>
                            </span>
                        </button>
                        <div role="status" data-message="Verifying…" class="spinner-button__action-message usa-sr-only"></div>
                    </lg-spinner-button>

                </lg-captcha-submit-button>
            </form>  <div class='margin-x-neg-1 margin-top-205'>
                <a class="padding-x-1" href="https://secure.login.gov/login/piv_cac">Sign in with your government employee ID</a>
            </div>

            <div class="page-footer margin-top-4 padding-top-2 border-top border-primary-light">
                <div class="margin-bottom-1">
                    <a href="/redirect/return_to_sp/cancel?step=authentication">‹ Back to USAJOBS</a>

                </div>

                <div class="margin-bottom-1">
                    <a href="https://secure.login.gov/users/password/new">Forgot your password?</a>
                </div>

                <p class="margin-y-1">
                    <a target="_blank" class="usa-link--external" rel="noopener noreferrer" href="https://secure.login.gov/redirect/policy?flow=sign_in&amp;policy=security_and_privacy_practices&amp;step=sign_in">Security Practices and Privacy Act Statement<span class="usa-sr-only">(opens new tab)</span></a>
                </p>

                <p class="margin-y-1">
                    <a target="_blank" class="usa-link--external" rel="noopener noreferrer" href="https://secure.login.gov/redirect/policy?flow=sign_in&amp;policy=privacy_act_statement&amp;step=sign_in">Privacy Act Statement<span class="usa-sr-only">(opens new tab)</span></a>
                </p>
                <p class="margin-top-4">
                    This site is protected by reCAPTCHA and the Google <a target="_blank" class="usa-link--external" rel="noopener noreferrer" href="https://policies.google.com/privacy">Privacy Policy<span class="usa-sr-only">(opens new tab)</span></a> and <a target="_blank" class="usa-link--external" rel="noopener noreferrer" href="https://policies.google.com/terms">Terms of Service<span class="usa-sr-only">(opens new tab)</span></a> apply.
                </p>
            </div>

            <!-- We participate in the US government’s analytics program. See the data at analytics.usa.gov. -->


        </div>
    </main>
    <footer class="footer">
        <a class="footer__agency-logo usa-link--external" target="_blank" rel="noopener noreferrer" href="https://www.gsa.gov">
            <picture aria-hidden="true" class="margin-right-05">
                <source media="(min-width: 1024px)" srcset="https://secure.login.govhttps://secure.login.gov/assets/sp-logos/square-gsa-2e9100eb.svg">
                <img alt="" aria-hidden="true" src="https://secure.login.govhttps://secure.login.gov/assets/sp-logos/square-gsa-dark-09497aa7.svg" width="20" height="20" />
            </picture>    US General Services Administration<span class="usa-sr-only">(opens new tab)</span>
        </a>  <div class="language-picker usa-accordion footer__language-picker">
            <button class="usa-accordion__button language-picker__label" aria-controls="language-picker-a0306c5c" aria-expanded="false">
                <span id="icon-6657c2b6" class="icon usa-icon"><style nonce="7357cd3c8e41faaa15dd8225bc4d3eb3">#icon-6657c2b6 { mask-image: url(https://secure.login.govhttps://secure.login.gov/assets/usa-icons/language-933750f3.svg); -webkit-mask-image: url(https://secure.login.govhttps://secure.login.gov/assets/usa-icons/language-933750f3.svg); }</style></span>
                <span id="language-picker-description-a0306c5c" class="language-picker__label-text">
                    Language
                </span>
                <span class="icon usa-icon language-picker__expander usa-icon--size-3" id="icon-4ae4fc21"><style nonce="7357cd3c8e41faaa15dd8225bc4d3eb3">#icon-4ae4fc21 { mask-image: url(https://secure.login.govhttps://secure.login.gov/assets/usa-icons/expand_more-d32ec934.svg); -webkit-mask-image: url(https://secure.login.govhttps://secure.login.gov/assets/usa-icons/expand_more-d32ec934.svg); }</style></span>
            </button>  <ul id="language-picker-a0306c5c"
                           aria-describedby="language-picker-description-a0306c5c"
                           class="usa-accordion__content language-picker__list"
                           hidden>
                <li>
                    <a href="/en/" lang="en">English</a>
                </li>
                <li>
                    <a href="/es/" lang="es">Español</a>
                </li>
                <li>
                    <a href="/fr/" lang="fr">Français</a>
                </li>
                <li>
                    <a href="/zh/" lang="zh">中文（简体）</a>
                </li>
            </ul>
        </div>
        <div class="footer__links">
            <a target="_blank" class="usa-link--external" rel="noopener noreferrer" href="https://secure.login.gov/redirect/help_center">Help<span class="usa-sr-only">(opens new tab)</span></a>
            <a target="_blank" class="usa-link--external" rel="noopener noreferrer" href="https://secure.login.gov/redirect/contact">Contact<span class="usa-sr-only">(opens new tab)</span></a>
            <a target="_blank" class="usa-link--external" rel="noopener noreferrer" href="https://www.login.gov/policy/">Privacy &amp; security<span class="usa-sr-only">(opens new tab)</span></a>
            <a target="_blank" class="usa-link--external" rel="noopener noreferrer" href="https://www.login.gov/accessibility/">Accessibility statement<span class="usa-sr-only">(opens new tab)</span></a>
        </div>
        <div class="footer__links">
            <a class="footer__agency-logo usa-link--external" target="_blank" rel="noopener noreferrer" href="https://www.gsa.gov">
                <picture aria-hidden="true" class="margin-right-05">
                    <source media="(max-width: 1023px)" srcset="https://secure.login.govhttps://secure.login.gov/assets/sp-logos/square-gsa-dark-09497aa7.svg">
                    <img alt="" aria-hidden="true" src="https://secure.login.govhttps://secure.login.gov/assets/sp-logos/square-gsa-2e9100eb.svg" width="20" height="20" />
                </picture>      US General Services Administration<span class="usa-sr-only">(opens new tab)</span>
            </a>
        </div>
    </footer>


    <div id="session-timeout-cntnr" data-session-timeout-in="900" data-warning="150" data-sessions-url="/api/internal/sessions"></div>
    <lg-modal class="session-timeout-modal">
        <dialog aria-describedby="modal-description-86c18ab0" aria-labelledby="modal-label-86c18ab0" class="modal__content">
            <div class="display-flex flex-align-center flex-justify-center">
                <img alt="Blue question mark" width="88" height="88" class="alert-icon" src="https://secure.login.govhttps://secure.login.gov/assets/status/info-question-c1cbab16.svg" />

            </div>
            <h2 class="margin-y-2 fs-20p text-normal text-center" id="modal-label-86c18ab0">
                Need more time?
            </h2>
            <hr class="margin-bottom-4 border-info border-width-05" />
            <div class="margin-bottom-6">
                <p>
                    For your security, in <lg-countdown data-expiration="2025-04-24T14:22:41Z" data-update-interval="1000" data-start-immediately="false">less than 1 second</lg-countdown> we will cancel your sign in.
                </p>
                <p class="usa-sr-only" id="modal-description-86c18ab0" role="timer" aria-live="polite" aria-atomic="true">
                    You will be signed out in <lg-countdown data-expiration="2025-04-24T14:22:41Z" data-update-interval="30000" data-start-immediately="false">less than 1 second</lg-countdown>. Select “keep me signed in” to stay logged in. Select “sign me out” to sign out.
                </p>
            </div>
            <a id="session-keepalive-btn" class="usa-button margin-bottom-2 usa-button--big usa-button--full-width" href="https://secure.login.gov/?request_id=28b6383f-072a-45d8-9622-573c14688822&amp;timeout=session">Continue sign in</a>

            <form class="button_to" method="post" action="/logout"><input type="hidden" name="_method" value="delete" autocomplete="off" /><button class="usa-button usa-button--big usa-button--full-width usa-button--outline" type="submit">Cancel sign in</button><input type="hidden" name="authenticity_token" value="1shfCVYOwfJ8bvIDVSiR4ntMfh5LRXWgi9lrjWwxObsgVqS-uCFkdVCwIyMc8yS_NM1ld5dRTZsxHSRo0hTpOQ" autocomplete="off" /></form>

        </dialog>
    </lg-modal>






    <script type="application/json" data-config="">{"appName":"Login.gov","analyticsEndpoint":"/api/logger"}</script>

    <script src="/packs/click_observer_component-322f4764.digested.js" integrity="sha256-Lgi6BocJnjk9qlkjn+gtPXpTBfAJSNnn4rpCwKqn+LU="></script>
    <script src="/packs/validated_field_component-2b54ffd6.digested.js" integrity="sha256-RrTCXFbmW+R4uVur/oCbKVMc3p/VhVFWQ+H/zateEe8="></script>
    <script src="/packs/password_toggle_component-e7551760.digested.js" integrity="sha256-4I47WePq4BNlsp26Q5oEAfNFQmQc84tXQiNwpxaA8Qk="></script>
    <script src="/packs/captcha_submit_button_component-daf6ca98.digested.js" integrity="sha256-PNWvQ5w5O00qhfiEA9C2FZImIKx+pZXPJ834Aypp9MU="></script>
    <script src="/packs/spinner_button_component-5616b05f.digested.js" integrity="sha256-CbjnZ3tViVlRCikfCPw736XG0dij/On8XW4miPyjang="></script>
    <script src="/packs/platform-authenticator-available-f2a1d9cb.digested.js" integrity="sha256-/rAvH/BtKMPmxDDXvKhyzeF5VuUJjvO0nW0uqM56qWc="></script>
    <script src="/packs/digital-analytics-program-43ac9c00.digested.js?agency=GSA&amp;subagency=TTS" defer="defer" id="_fed_an_ua_tag" integrity="sha256-jCVnWpE/BI2BHLZrrY6zijPiwWvBflKqSkhrpPAAeBg="></script>
    <script src="/packs/modal_component-536d8900.digested.js" integrity="sha256-76DwW+WGEN7dVjltcFdpDaD75Ax+fxpZIs10w6NbgRU="></script>
    <script src="/packs/countdown_component-e625de7c.digested-9ae9e5d4.en.js" integrity="sha256-6Hk+I9tMeplzG9Fm/OA2TsEQaNTetxcdgD7BVPfcJ80="></script>
    <script src="/packs/countdown_component-e625de7c.digested.js" integrity="sha256-r9e4ZjkZBvbUCTWNkAAtrcV49Ve75HvusgNCVe/XBvc="></script>
    <script src="/packs/session-expire-session-36681782.digested.js" integrity="sha256-FuexBvudnvMjuSBa8noFjWW5b2WQ7zuj2p+iDLFGgYA="></script>
    <script src="/packs/application-3688b8ee.digested.js" integrity="sha256-FdJ4r26Vr5N1tghHv6lNhBJbkrNE7MpLcksKcg7NiHU="></script>
    <script src="/packs/track-errors-e9df8e72.digested.js" defer="defer" integrity="sha256-z0+6jGdMXmjyYH+zbitnipzROwCZk99ixHMRTW+6OVg="></script>
</body>
</html>