@{
    Layout = "~/Views/Shared/_LayoutUSWDSInterior.cshtml";
}
<div class="usa-section">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="usa-layout-docs__sidenav desktop:grid-col-2">
                @Html.Partial("~/Views/Shared/Partials/_SideNav.cshtml")
            </div>
            <main class="usa-layout-docs__main desktop:grid-col-10 usa-prose usa-layout-docs" id="main-content">
                <h3>Citing the U.S. National Plant Germplasm System (NPGS)</h3>
                <p><a href="~/documents/NPGS-Citations-3-6-2025.pdf" target="_blank" rel="noreferrer">Download as PDF<img src="/img/PDF_32.png" /></a></p>
                <h5>When should the NPGS be acknowledged or cited?</h5>
                <p>
                    Please acknowledge the NPGS as the source of germplasm or data in seminars, public displays,
                    demonstration gardens, reports, proposals, and academic publications. Citations promote repeatable
                    and ethical science with accurate documentation of source materials used in research and breeding. They
                    also help the NPGS document the impact of the germplasm provided.
                </p>
                <h5>How to cite the NPGS</h5>
                <p>
                    <ul class="usa-icon-list">
                        <li class="usa-icon-list__item">
                            <div class="usa-icon-list__icon text-green">
                                <svg class="usa-icon" aria-hidden="true" role="img">
                                    <use href="https://npgstest.ars-grin.gov/NPGS/assets/img/sprite.svg#check_circle"></use>
                                </svg>
                            </div>
                            <div class="usa-icon-list__content">Refer to our collections as the U.S. National Plant Germplasm System crop (i.e. apple, <i>Malus</i>, bean, or <i>Phaseolus</i>) collection.</div>
                        </li>
                        <li class="usa-icon-list__item">
                            <div class="usa-icon-list__icon text-green">
                                <svg class="usa-icon" aria-hidden="true" role="img">
                                    <use href="https://npgstest.ars-grin.gov/NPGS/assets/img/sprite.svg#check_circle"></use>
                                </svg>
                            </div>
                            <div class="usa-icon-list__content">
                                The accession number is the primary identifier for the germplasm you received. Include the accession
                                number (e.g., PI 000000, Ames 00000, W6 00000, etc.) in publications. Within the text, provide the
                                NPGS accession number, as well as a citation for the NPGS and the germplasm release citation if
                                there is one.
                            </div>
                        </li>
                        <li class="usa-icon-list__item">
                            <div class="usa-icon-list__icon text-green">
                                <svg class="usa-icon" aria-hidden="true" role="img">
                                    <use href="https://npgstest.ars-grin.gov/NPGS/assets/img/sprite.svg#check_circle"></use>
                                </svg>
                            </div>
                            <div class="usa-icon-list__content">
                                Cite the National Plant Germplasm System as the source of the materials:
                                <br />
                                <div class="usa-summary-box"
                                     role="region"
                                     aria-labelledby="summary-box-key-information">
                                    <div class="usa-summary-box__body">
                                        <div class="usa-summary-box__text">
                                            National Plant Germplasm System, United States Department of Agriculture-Agricultural
                                            Research Service. (2025). GRIN-Global.<a href="https://npgsweb.ars-grin.gov/gringlobal/search" class="usa-link--external" target="_blank" rel="noreferrer">https://npgsweb.ars-grin.gov/gringlobal/search</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="usa-icon-list__item">
                            <div class="usa-icon-list__icon text-green">
                                <svg class="usa-icon" aria-hidden="true" role="img">
                                    <use href="~/assets/img/sprite.svg#check_circle"></use>
                                </svg>
                            </div>
                            <div class="usa-icon-list__content">
                                Cite a publication about the NPGS such as those listed below.
                            </div>
                        </li>
                        <li class="usa-icon-list__item">
                            <div class="usa-icon-list__icon text-green">
                                <svg class="usa-icon" aria-hidden="true" role="img">
                                    <use href="~/assets/img/sprite.svg#check_circle"></use>
                                </svg>
                            </div>
                            <div class="usa-icon-list__content">
                                If you publish academic research, please share the citation(s) with the crop curator. Data or images
                                that can be uploaded to GRIN-Global are appreciated as well.
                            </div>
                        </li>
                    </ul>
                </p>
                <h5>Selected Publications about the U.S. National Plant Germplasm System</h5>
                <ul>
                    <li>
                        Byrne, P. F., Volk, G. M., Gardner, C., Gore, M. A., Simon, P. W., & Smith, S. (2018). Sustaining the
                        future of plant breeding: The critical role of the USDA‐ARS National Plant Germplasm System. Crop
                        Science, <strong>58</strong>(2), 451-468
                        <a href="https://doi.org/10.2135/cropsci2017.05.0303" class="usa-link--external" target="_blank" rel="noreferrer">
                            https://doi.org/10.2135/cropsci2017.05.0303
                        </a>
                    </li>
                    <li>
                        Volk, G. M., Byrne, P. F., Coyne, C. J., Flint-Garcia, S., Reeves, P. A., & Richards, C. (2021).
                        Integrating genomic and phenomic approaches to support plant genetic resources conservation and use. Plants, <strong>10</strong>(11), 2260.
                        <a href="https://doi.org/10.3390/plants10112260" class="usa-link--external" target="_blank" rel="noreferrer">
                            https://doi.org/10.3390/plants10112260
                        </a>
                    </li>
                    <li>
                        Bretting, P. K. (2018). 2017 Frank Meyer medal for plant genetic resources lecture: Stewards of our agricultural future. Crop Science, <strong>58</strong>(6), 2233-2240.
                        <a href="https://acsess.onlinelibrary.wiley.com/doi/full/10.2135/cropsci2018.05.0334 " class="usa-link--external" target="_blank" rel="noreferrer">
                            https://acsess.onlinelibrary.wiley.com/doi/full/10.2135/cropsci2018.05.0334
                        </a>
                    </li>
                    <li>
                        Rubenstein, K. D., Smale, M., & Widrlechner, M. P. (2006). Demand for genetic resources and the US National Plant Germplasm System. Crop Science <strong>46</strong>(3): 1021-1031.
                        <a href="https://doi.org/10.2135/cropsci2005.0129" class="usa-link--external" target="_blank" rel="noreferrer">
                            https://doi.org/10.2135/cropsci2005.0129
                        </a>
                    </li>
                </ul>
            </main>
        </div>
    </div>
</div>
