@{
    Layout = "~/Views/Shared/_LayoutUSWDSInterior.cshtml";
}
<div class="usa-section">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="usa-layout-docs__sidenav desktop:grid-col-2">
                @Html.Partial("~/Views/Shared/Partials/_SideNav.cshtml")
            </div>
            <main class="usa-layout-docs__main desktop:grid-col-10 usa-prose usa-layout-docs" id="main-content">
                <h3>USDA-ARS National Plant Germplasm System (NPGS) sites and collections</h3>

                <div class="usa-accordion usa-accordion--multiselectable" data-allow-multiple>
                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="true"
                                aria-controls="m-a1">
                            Aberdeen, Idaho: National Small Grains Collection
                        </button>
                    </h4>
                    <div id="m-a1" class="usa-accordion__content usa-prose">
                        <p>
                            <a href="https://www.ars.usda.gov/pacific-west-area/aberdeen-id/small-grains-and-potato-germplasm-research/docs/national-small-grains-collection-1/" class="usa-link--external" target="_blank" rel="noreferrer">
                                USDA
                                website: Small Grains and Potato Germplasm Research
                            </a>
                        </p>

                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=19" class="usa-link--external" target="_blank" rel="noreferrer">
                                GRIN-Global details:
                                NSGC
                            </a>
                        </p>
                    </div>
                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="m-a2">
                            Ames, Iowa: North Central Regional Plant Introduction
                            Station (NC7)
                        </button>
                    </h4>
                    <div id="m-a2" class="usa-accordion__content usa-prose">
                        <p>
                            <a href="https://www.ars.usda.gov/midwest-area/ames/plant-introduction-research/" class="usa-link--external" target="_blank" rel="noreferrer">
                                USDA
                                website: Plant Introduction Research
                            </a>
                        </p>

                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=16" class="usa-link--external" target="_blank" rel="noreferrer">
                                GRIN-Global details: NC7
                            </a>
                        </p>
                    </div>
                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="m-a3">
                            Beltsville, Maryland: National Germplasm Resources
                            Laboratory
                        </button>
                    </h4>
                    <div id="m-a3" class="usa-accordion__content usa-prose">

                        <p>
                            <a href="https://www.ars.usda.gov/northeast-area/beltsville-md-barc/beltsville-agricultural-research-center/national-germplasm-resources-laboratory/docs/database-management-unit/" class="usa-link--external" target="_blank" rel="noreferrer">
                                USDA
                                website: National Germplasm Resources Laboratory
                            </a>
                        </p>

                    </div>
                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="m-a4">
                            College Station, Texas: National Collection of Genetic
                            Resources for Pecans and Hickories
                        </button>
                    </h4>
                    <div id="m-a4" class="usa-accordion__content usa-prose">
                        <p>
                            <a href="https://www.ars.usda.gov/plains-area/college-station-tx/southern-plains-agricultural-research-center/crop-germplasm-research/" class="usa-link--external" target="_blank" rel="noreferrer">
                                USDA
                                website: Crop Germplasm Research
                            </a>
                        </p>

                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=2" class="usa-link--external" target="_blank" rel="noreferrer">
                                GRIN-Global details: BRW
                            </a>
                        </p>
                    </div>
                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="m-a5">
                            College Station, Texas: National Cotton Germplasm Collection
                        </button>
                    </h4>
                    <div id="m-a5" class="usa-accordion__content usa-prose">
                        <p>
                            <a href="https://www.ars.usda.gov/plains-area/college-station-tx/southern-plains-agricultural-research-center/crop-germplasm-research/" class="usa-link--external" target="_blank" rel="noreferrer">
                                USDA
                                website: Crop Germplasm Research
                            </a><span class=MsoHyperlink><o:p></o:p></span>
                        </p>

                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=1" class="usa-link--external" target="_blank" rel="noreferrer">
                                GRIN-Global details: COT
                            </a><u><span style='color:#467886;mso-themecolor:hyperlink'><o:p></o:p></span></u>
                        </p>
                    </div>
                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="m-aCOT">
                            Columbus, Ohio: Ornamental Plant Germplasm Center
                        </button>
                    </h4>
                    <div id="m-aCOT" class="usa-accordion__content usa-prose">
                        <p>
                            <a href="https://www.ars.usda.gov/plains-area/college-station-tx/southern-plains-agricultural-research-center/crop-germplasm-research/" class="usa-link--external" target="_blank" rel="noreferrer">
                                USDA
                                website: Crop Germplasm Research
                            </a>
                        </p>

                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=1" class="usa-link--external" target="_blank" rel="noreferrer">
                                GRIN-Global details: COT
                            </a>
                        </p>
                    </div>
                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="m-aCOR">
                            Corvallis, Oregon: National Clonal Germplasm Repository
                        </button>
                    </h4>
                    <div id="m-aCOR" class="usa-accordion__content usa-prose">
                        <p>
                            <a href="https://www.ars.usda.gov/pacific-west-area/corvallis-or/national-clonal-germplasm-repository/" class="usa-link--external" target="_blank" rel="noreferrer">
                                USDA
                                website: National Clonal Germplasm Repository
                            </a>
                        </p>

                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=3" class="usa-link--external" target="_blank" rel="noreferrer">GRIN-Global details: COR</a>
                        </p>
                    </div>

                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="m-aDAV">
                            Davis, California: National Clonal Germplasm Repository -
                            Tree Fruit &amp; Nut Crops &amp; Grapes
                        </button>
                    </h4>
                    <div id="m-aDAV" class="usa-accordion__content usa-prose">
                        <p>
                            <a href="https://www.ars.usda.gov/pacific-west-area/davis-ca/natl-clonal-germplasm-rep-tree-fruit-nut-crops-grapes/" class="usa-link--external" target="_blank" rel="noreferrer">
                                USDA
                                website: National Clonal Germplasm Repository
                            </a>
                        </p>

                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=4" class="usa-link--external" target="_blank" rel="noreferrer">GRIN-Global details: DAV</a>
                        </p>
                    </div>


                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="m-a42">
                            Fort Collins, Colorado: National Laboratory for Genetic
                            Resources Preservation
                        </button>
                    </h4>
                    <div id="m-a42" class="usa-accordion__content usa-prose">
                        <p>
                            <a href="https://www.ars.usda.gov/plains-area/fort-collins-co/center-for-agricultural-resources-research/paagrpru/" class="usa-link--external" target="_blank" rel="noreferrer">
                                USDA
                                website: Agricultural Genetic Resources Preservation Research
                            </a>
                        </p>

                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=42" class="usa-link--external" target="_blank" rel="noreferrer">
                                GRIN-Global details:
                                NLGRP
                            </a>
                        </p>



                    </div>

                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="m-aGEN">
                            Geneva, New York: National Clonal Germplasm Repository for
                            Apple, Tart Cherry and Grape
                        </button>
                    </h4>
                    <div id="m-aGEN" class="usa-accordion__content usa-prose">
                        <p>
                            <a href="https://www.ars.usda.gov/northeast-area/geneva-ny/plant-genetic-resources-unit-pgru/" class="usa-link--external" target="_blank" rel="noreferrer">
                                USDA
                                website: Plant Genetic Resources Unit
                            </a>
                        </p>

                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=5" class="usa-link--external" target="_blank" rel="noreferrer">GRIN-Global details: GEN</a>
                        </p>



                    </div>

                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="m-a17">
                            Geneva, New York: Northeast Regional Plant Introduction
                            Station (NE9)
                        </button>
                    </h4>
                    <div id="m-a17" class="usa-accordion__content usa-prose">
                        <p>
                            <a href="https://www.ars.usda.gov/northeast-area/geneva-ny/plant-genetic-resources-unit-pgru/" class="usa-link--external" target="_blank" rel="noreferrer">
                                USDA
                                website: Plant Genetic Resources Unit
                            </a><span class=MsoHyperlink><o:p></o:p></span>
                        </p>

                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=17" class="usa-link--external" target="_blank" rel="noreferrer">GRIN-Global details: NE9</a>
                        </p>
                    </div>

                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="m-a22">
                            Griffin, Georgia: Plant Genetic Resources Conservation Unit (S9)
                        </button>
                    </h4>
                    <div id="m-a22" class="usa-accordion__content usa-prose">
                        <p>
                            <a href="https://www.ars.usda.gov/southeast-area/griffin-ga/pgrcu/" class="usa-link--external" target="_blank" rel="noreferrer">
                                USDA website: Plant
                                Genetic Resources Conservation Unit
                            </a>
                        </p>
                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=22" class="usa-link--external" target="_blank" rel="noreferrer">GRIN-Global details: S9</a>
                        </p>
                    </div>

                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="m-a6-HI">
                            Hilo, Hawaii: National Clonal Germplasm Repository for
                            Tropical Fruit and Nut Crops
                        </button>
                    </h4>
                    <div id="m-a6-HI" class="usa-accordion__content usa-prose">
                        <p>
                            <a href="https://www.ars.usda.gov/pacific-west-area/hilo-hi/daniel-k-inouye-us-pacific-basin-agricultural-research-center/tropical-plant-genetic-resources-and-disease-research/" class="usa-link--external" target="_blank" rel="noreferrer">
                                USDA
                                website: Tropical Plant Genetic Resources and Disease Research
                            </a>
                        </p>
                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=6" class="usa-link--external" target="_blank" rel="noreferrer">GRIN-Global details: HILO</a>
                        </p>
                    </div>

                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="m-aMAYAGUEZ">
                            Mayagüez, Puerto Rico: Tropical Agriculture Research Station
                        </button>
                    </h4>
                    <div id="m-aMAYAGUEZ" class="usa-accordion__content usa-prose">
                        <p>
                            <a href="https://www.ars.usda.gov/southeast-area/mayaguez-pr/tropical-crops-and-germplasm-research/" class="usa-link--external" target="_blank" rel="noreferrer">
                                USDA
                                website: Tropical Crops and Germplasm Research
                            </a>
                        </p>
                    </div>

                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="m-a8-MIAMI">
                            Miami, Florida: National Germplasm Repository
                        </button>
                    </h4>
                    <div id="m-a8-MIAMI" class="usa-accordion__content usa-prose">
                        <p>
                            <a href="https://www.ars.usda.gov/southeast-area/miami-fl/subtropical-horticulture-research/" class="usa-link--external" target="_blank" rel="noreferrer">
                                USDA
                                website: Subtropical Horticulture Research
                            </a>
                        </p>

                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=8" class="usa-link--external" target="_blank" rel="noreferrer">GRIN-Global details: MIA</a>
                        </p>



                    </div>

                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="m-a37">
                            Parlier, California: National Arid Land Plant Genetic
                            Resources Unit
                        </button>
                    </h4>
                    <div id="m-a37" class="usa-accordion__content usa-prose">
                        <p>
                            <a href="https://www.ars.usda.gov/pacific-west-area/davis-ca/natl-clonal-germplasm-rep-tree-fruit-nut-crops-grapes/docs/national-arid-land-plant-genetic-resources-unit-nalpgru/" class="usa-link--external" target="_blank" rel="noreferrer">
                                USDA
                                website: NALPGRU
                            </a>
                        </p>

                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=37" class="usa-link--external" target="_blank" rel="noreferrer">
                                GRIN-Global details:
                                PARL
                            </a>
                        </p>
                    </div>

                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="m-a26">
                            Pullman, Washington: Western Regional Plant Introduction
                            Station (W6)
                        </button>
                    </h4>
                    <div id="m-a26" class="usa-accordion__content usa-prose">
                        <p>
                            <a href="https://www.ars.usda.gov/pacific-west-area/pullman-wa/plant-germplasm-introduction-and-testing-research/" class="usa-link--external" target="_blank" rel="noreferrer">
                                USDA
                                website: Plant Germplasm Introduction and Testing Research
                            </a>
                        </p>
                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=26" class="usa-link--external" target="_blank" rel="noreferrer">GRIN-Global details: W6</a>
                        </p>
                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=34" class="usa-link--external" target="_blank" rel="noreferrer">
                                GRIN-Global details: GSPI
                                (G.A. Marx Pea Genetic Stock Collection)
                            </a>
                        </p>
                    </div>

                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="m-a9RIV">
                            Riverside, California: National Clonal Germplasm Repository
                            for Citrus and Dates
                        </button>
                    </h4>
                    <div id="m-a9RIV" class="usa-accordion__content usa-prose">
                        <p>
                            <a href="https://www.ars.usda.gov/pacific-west-area/riverside-ca/national-clonal-germplasm-repository-for-citrus/" class="usa-link--external" target="_blank" rel="noreferrer">
                                USDA
                                website: National Clonal Germplasm Repository for Citrus
                            </a>
                        </p>
                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=9" class="usa-link--external" target="_blank" rel="noreferrer">GRIN-Global details: RIV</a>
                        </p>
                    </div>
                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="m-aNR6">
                            Sturgeon Bay, Wisconsin: U.S. Potato Genebank (NR6)
                        </button>
                    </h4>
                    <div id="m-aNR6" class="usa-accordion__content usa-prose">
                        <p>
                            <a href="https://www.ars.usda.gov/midwest-area/madison-wi/vegetable-crops-research/people/john-bamberg/bamberg-lab/" class="usa-link--external" target="_blank" rel="noreferrer">
                                USDA
                                website: U.S. Potato Genebank
                            </a>
                        </p>
                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=29" class="usa-link--external" target="_blank" rel="noreferrer">
                                GRIN-Global Details: NR6
                            </a>
                        </p>
                    </div>
                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="m-a40">
                            Stuttgart, Arkansas: Genetic Stocks <i>Oryza</i>
                            Collection
                        </button>
                    </h4>
                    <div id="m-a40" class="usa-accordion__content usa-prose">
                        <p>
                            <a href="https://www.ars.usda.gov/southeast-area/stuttgart-ar/dale-bumpers-national-rice-research-center/" class="usa-link--external" target="_blank" rel="noreferrer">
                                USDA
                                website: Dale Bumpers National Rice Research Center
                            </a>
                        </p>
                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=40" class="usa-link--external" target="_blank" rel="noreferrer">GRIN-Global details: GSOR</a><u>

                            </u>
                        </p>
                    </div>
                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="m-a31">
                            Urbana, Illinois: Maize Genetic Stock Center
                        </button>
                    </h4>
                    <div id="m-a31" class="usa-accordion__content usa-prose">
                        <p>
                            <a href="https://www.ars.usda.gov/midwest-area/urbana-il/soybeanmaize-germplasm-pathology-and-genetics-research/" class="usa-link--external" target="_blank" rel="noreferrer">
                                USDA
                                website: Soybean/Maize Germplasm, Pathology, and Genetics Research
                            </a>
                        </p>

                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=31" class="usa-link--external" target="_blank" rel="noreferrer">GRIN-Global details: GSZE</a>
                        </p>
                    </div>
                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="m-a24">
                            Urbana, Illinois: Soybean Germplasm Collection
                        </button>
                    </h4>
                    <div id="m-a24" class="usa-accordion__content usa-prose">
                        <p>
                            <a href="https://www.ars.usda.gov/midwest-area/urbana-il/soybeanmaize-germplasm-pathology-and-genetics-research/" class="usa-link--external" target="_blank" rel="noreferrer">
                                USDA
                                website: Soybean/Maize Germplasm, Pathology, and Genetics Research
                            </a>
                        </p>

                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=24" class="usa-link--external" target="_blank" rel="noreferrer">GRIN-Global details: SOY</a><u>

                            </u>
                        </p>
                    </div>
                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="m-a15">
                            Washington, D.C.: U.S. National Arboretum
                        </button>
                    </h4>
                    <div id="m-a15" class="usa-accordion__content usa-prose">
                        <p>
                            <a href="https://www.usna.usda.gov/" class="usa-link--external" target="_blank" rel="noreferrer">USDA website: U.S. National Arboretum</a>
                        </p>

                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=15" class="usa-link--external" target="_blank" rel="noreferrer">
                                GRIN-Global details:
                                NA
                            </a>
                        </p>
                    </div>
                </div>

                <h3>Affiliated sites managing NPGS collections</h3>
                <div id="section-affiliated-sites" class="usa-accordion usa-accordion--multiselectable" data-allow-multiple>
                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="true"
                                aria-controls="m-a1-beltsville">
                            Beltsville, Maryland: Plant Germplasm Quarantine Program
                        </button>
                    </h4>
                    <div id="m-a1-beltsville" class="usa-accordion__content usa-prose">
                        <p>
                            <a href="https://www.aphis.usda.gov/plant-imports/how-to-import/plant-quarantine" class="usa-link--external" target="_blank" rel="noreferrer">
                                USDA
                                APHIS website: Plant Germplasm Quarantine Program
                            </a>
                        </p>
                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=12" class="usa-link--external" target="_blank" rel="noreferrer">
                                GRIN-Global details:
                                PGQO
                            </a>
                        </p>
                    </div>

                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="m-a1-davis">
                            Davis, California: C.M. Rick Tomato Genetics Resource Center
                        </button>
                    </h4>
                    <div id="m-a1-davis" class="usa-accordion__content usa-prose">
                        <p>
                            <a href="https://tgrc.ucdavis.edu/" class="usa-link--external" target="_blank" rel="noreferrer">
                                University of California, Davis website: C.M.
                                Rick TGRC
                            </a>
                        </p>

                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=13" class="usa-link--external" target="_blank" rel="noreferrer">
                                GRIN-Global details:
                                TGRC
                            </a><span class=MsoHyperlink><o:p></o:p></span>
                        </p>
                    </div>

                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="m-a1-usda-fs">
                            Dry Branch, Georgia: USDA Forest Service National Seed
                            Laboratory
                        </button>
                    </h4>
                    <div id="m-a1-usda-fs" class="usa-accordion__content usa-prose">

                        <p>
                            <a href="https://www.fs.usda.gov/nsl/" class="usa-link--external" target="_blank" rel="noreferrer">
                                USDA Forest Service website: National Seed
                                Laboratory
                            </a>
                        </p>
                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=32" class="usa-link--external" target="_blank" rel="noreferrer">
                                GRIN-Global details:
                                NTSL
                            </a>
                        </p>
                    </div>

                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="m-a1-usda-nc">
                            Raleigh, North Carolina: U.S. Nicotiana Germplasm Collection
                        </button>
                    </h4>
                    <div id="m-a1-usda-nc" class="usa-accordion__content usa-prose">
                        <p>
                            <a href="https://cals.ncsu.edu/crop-and-soil-sciences/" class="usa-link--external" target="_blank" rel="noreferrer">
                                NC State University
                                website: Crop and Soil Sciences
                            </a>
                        </p>
                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=25" class="usa-link--external" target="_blank" rel="noreferrer">
                                GRIN-Global details:
                                TOB
                            </a>
                        </p>
                    </div>

                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="m-a1-usda-az">
                            Superior, Arizona: Desert Legume Program
                        </button>
                    </h4>
                    <div id="m-a1-usda-az" class="usa-accordion__content usa-prose">
                        <p>
                            <a href="https://btarboretum.org/collections/" class="usa-link--external" target="_blank" rel="noreferrer">
                                Boyce Thompson Arboretum website:
                                Collections
                            </a>
                        </p>
                        <p>
                            <a href="https://cales.arizona.edu/desertlegumeprogram/" class="usa-link--external" target="_blank" rel="noreferrer">
                                The University of Arizona
                                website: DELEP
                            </a>
                        </p>
                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=33" class="usa-link--external" target="_blank" rel="noreferrer">GRIN-Global details: DLEG</a>
                        </p>
                    </div>

                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="m-a1-usda-dc">
                            Washington, D.C.: Plant Variety Protection Voucher
                            Collection
                        </button>
                    </h4>
                    <div id="m-a1-usda-dc" class="usa-accordion__content usa-prose">
                        <p>
                            <a href="https://www.ams.usda.gov/services/plant-variety-protection" class="usa-link--external" target="_blank" rel="noreferrer">
                                USDA
                                Agricultural Marketing Service website: Plant Variety Protection
                            </a>
                        </p>
                        <p>
                            <a href="https://npgsweb.ars-grin.gov/gringlobal/site?id=14" class="usa-link--external" target="_blank" rel="noreferrer">
                                GRIN-Global details:
                                PVPO
                            </a>
                        </p>
                    </div>
                </div>













            </main>
        </div>
    </div>
</div>

