@{
    Layout = "~/Views/Shared/_LayoutUSWDSInterior.cshtml";
}
<div class="usa-section">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="usa-layout-docs__sidenav desktop:grid-col-2">
                @Html.Partial("~/Views/Shared/Partials/_SideNav.cshtml")
            </div>
            <main class="usa-layout-docs__main desktop:grid-col-10 usa-prose usa-layout-docs" id="main-content">
                <p>
                    The goal of this program is to ensure that the genetic diversity of agriculturally important
                    microorganisms is maintained to enhance and increase agricultural efficiency and profitability.
                </p>
                <p>
                    The program will collect, authenticate and characterize potentially useful microbial germplasm;
                    preserve microbial genetic diversity; and facilitate distribution and utilization of microbial
                    germplasm for research and industry.
                </p>
                <table class="usa-table usa-table--borderless">
                    <caption>
                        Microbial Collections
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">ARS Culture Collection</th>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">ARS Entomopathogenic Fungal Culture Collection (ARSEF)</th>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">U.S. National Fungus Collection Rhizobium Collection</th>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Plant Pathogen Bacteria Collection</th>
                            <td>
                                This collection is in Fort Detrick, Maryland.
                                <br />
                                <strong>Contacts:</strong> <a href="mailto:elizabeth.rogers@usda.gov">elizabeth.rogers@usda.gov</a> and <a href="mailto:aaron.sechler@usda.gov">aaron.sechler@usda.gov</a>.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </main>
        </div>
    </div>
</div>

