@{
    Layout = "~/Views/Shared/_LayoutUSWDSInterior.cshtml";
}
<div class="usa-section">
    
    
    
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="usa-layout-docs__sidenav desktop:grid-col-2">
                @Html.Partial("~/Views/Shared/Partials/_SideNav.cshtml")
            </div>
            <main class="usa-layout-docs__main desktop:grid-col-10 usa-prose usa-layout-docs" id="main-content">
                <p>
                    The goal of this program is to ensure that the genetic diversity of agriculturally important
                    microorganisms is maintained to enhance and increase agricultural efficiency and profitability.
                    The program will collect, authenticate and characterize potentially useful microbial germplasm;
                    preserve microbial genetic diversity; and facilitate distribution and utilization of microbial
                    germplasm for research and industry.
                </p>
                <h3>Microbial Collections</h3>
                <section>
                <ul class="usa-card-group grid-row grid-gap">
                    <li class="usa-card tablet-lg:grid-col-3 grid-col-3 maxw-sm">
                        <div class="usa-card__container">
                            <div class="usa-card__header">
                                <h4 class="usa-card__heading">
                                    <a href="https://nrrl.ncaur.usda.gov/">
                                        ARS Culture Collection
                                    </a>
                                </h4>
                            </div>
                            <div class="usa-card__media">
                                <div class="usa-card__img">
                                    <img src="https://localhost:7174/img/NPGSMicrobial%20Penicillium%20spore%20head.jpg" alt="..." style="max-height: 100px;" />
                                </div>
                            </div>
                            <div class="usa-card__body">
                                    <p>The ARS Culture Collection is funded by the USDA-ARS and is therefore able to distribute and accession microbial strains at no charge to the scientific community.</p>
                            </div>
                            <div class="usa-card__footer">
                                    <a href="https://nrrl.ncaur.usda.gov/" class="usa-button usa-button--small">Visit</a>
                            </div>
                        </div>
                    </li>
                    <li class="usa-card tablet-lg:grid-col-3 grid-col-3 maxw-sm">
                        <div class="usa-card__container">
                            <div class="usa-card__header">
                                <h4 class="usa-card__heading">
                                        <a href="https://www.ars.usda.gov/northeast-area/ithaca-ny/robert-w-holley-center-for-agriculture-health/emerging-pests-and-pathogens-research/docs/mycology/">
                                            ARS Entomopathogenic Fungal Culture Collection (ARSEF)
                                        </a>
                                    </h4>
                            </div>
                            <div class="usa-card__media">
                                <div class="usa-card__img">
                                    <img src="https://localhost:7174/img/NPGSMicrobial%20Penicillium%20spore%20head.jpg" alt="..." style="max-height: 100px;" />
                                </div>
                            </div>
                            <div class="usa-card__body">
                                    <p>The ARSEF collection accepts isolates of fungi and related eukaryotic microorganisms (oomycote and selected protozoans) for deposition and long-term preservation.</p>
                            </div>
                            <div class="usa-card__footer">
                                    <a href="https://www.ars.usda.gov/northeast-area/ithaca-ny/robert-w-holley-center-for-agriculture-health/emerging-pests-and-pathogens-research/docs/mycology/" class="usa-button usa-button--small">Visit</a>
                            </div>
                        </div>
                    </li>
                    <li class="usa-card tablet-lg:grid-col-3 grid-col-3 maxw-sm">
                        <div class="usa-card__container">
                            <div class="usa-card__header">
                                <h4 class="usa-card__heading">
                                        <a href="https://fungi.ars.usda.gov/">USDA Fungal Databases
                                        </a>
                                    </h4>
                            </div>
                            <div class="usa-card__media">
                                <div class="usa-card__img">
                                    <img src="https://localhost:7174/img/NPGSMicrobial%20Penicillium%20spore%20head.jpg" alt="..." style="max-height: 100px;" />
                                </div>
                            </div>
                            <div class="usa-card__body">
                                    <p>The US National Fungus Collections is a mycological institution that includes the Western Hemisphere's largest fungal herbarium (Herbarium BPI), the John A. Stevenson Mycological Library, the USDA Fungus-Host Databases, and the only actively curated nomenclature database focused on plant pathogenic fungi. </p>
                            </div>
                            <div class="usa-card__footer">
                                    <a href="https://fungi.ars.usda.gov/" class="usa-button usa-button--small">Visit</a>
                            </div>
                        </div>
                    </li>


                        <li class="usa-card tablet-lg:grid-col-3 grid-col-3 maxw-sm">
                            <div class="usa-card__container">
                                <div class="usa-card__header">
                                    <h4 class="usa-card__heading">
                                        Plant Pathogen Bacteria Collection
                                    </h4>
                                </div>
                                <div class="usa-card__media">
                                    <div class="usa-card__img">
                                        <img src="https://localhost:7174/img/NPGSMicrobial%20Penicillium%20spore%20head.jpg" alt="..." style="max-height: 100px;" />
                                    </div>
                                </div>
                                <div class="usa-card__body">
                                    <p>
                                        This collection is in Fort Detrick, Maryland.
                                        <br />
                                        <strong>Contacts:</strong> <a href="mailto:elizabeth.rogers@usda.gov">elizabeth.rogers@usda.gov</a>
                                        and 
                                        <a href="mailto:aaron.sechler@usda.gov">aaron.sechler@usda.gov</a>
                                    </p>
                                </div>
                                <div class="usa-card__footer">
                                    <a href="https://fungi.ars.usda.gov/" class="usa-button usa-button--small">Visit</a>
                                </div>
                            </div>
                        </li>


                </ul>
                </section>

                <h3>ARS Biocollections Portal: Collections Profiles</h3>
                <section>
                    <ul class="usa-card-group grid-row grid-gap">
                        <li class="usa-card tablet-lg:grid-col-3 grid-col-3 maxw-sm">
                            <div class="usa-card__container">
                                <div class="usa-card__header">
                                    <h4 class="usa-card__heading">
                                        <a href="https://biocollections.ars.usda.gov/collections/misc/collprofiles.php?collid=4">
                                            U.S. National Fungus Collections (BPI)
                                        </a>
                                    </h4>
                                </div>
                                <div class="usa-card__media">
                                    <div class="usa-card__img">
                                        <img src="https://localhost:7174/img/NPGSMicrobial%20Penicillium%20spore%20head.jpg" alt="..." style="max-height: 100px;" />
                                    </div>
                                </div>
                                <div class="usa-card__body">
                                    <p>The USDA-ARS U.S. National Fungus Collections (BPI) currently houses approximately one million reference specimens. Data associated with over 950,000 specimens have been computerized and are available on-line.</p>
                                </div>
                                <div class="usa-card__footer">
                                    <a href="https://biocollections.ars.usda.gov/collections/misc/collprofiles.php?collid=4" class="usa-button usa-button--small">Visit</a>
                                </div>
                            </div>
                        </li>
                        <li class="usa-card tablet-lg:grid-col-3 grid-col-3 maxw-sm">
                            <div class="usa-card__container">
                                <div class="usa-card__header">
                                    <h4 class="usa-card__heading">
                                        <a href="https://biocollections.ars.usda.gov/collections/misc/collprofiles.php?collid=7">
                                            Entomopathogenic Fungal Cultures Collection (ARSEF)
                                        </a>
                                    </h4>
                                </div>
                                <div class="usa-card__media">
                                    <div class="usa-card__img">
                                        <img src="https://localhost:7174/img/NPGSMicrobial%20Penicillium%20spore%20head.jpg" alt="..." style="max-height: 100px;" />
                                    </div>
                                </div>
                                <div class="usa-card__body">
                                    <p>The ARSEF actively seeks to acquire and distribute strains to researchers and to provide resources for the isolation, collection, preservation, and identification of fungal strains from invertebrate hosts. </p>
                                </div>
                                <div class="usa-card__footer">
                                    <a href="https://biocollections.ars.usda.gov/collections/misc/collprofiles.php?collid=7" class="usa-button usa-button--small">Visit</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>

@* 
                <!-- BEGIN CARD LAYOUT -->
                <section>
                    
                <ul class="usa-card-group">
                    <li class="usa-card tablet-lg:grid-col-3 grid-col-3">
                        <div class="usa-card__container">
                            <div class="usa-card__header">
                                    <h4 class="usa-card__heading">ARS Culture Collection</h4>
                            </div>
                            <div class="usa-card__media">
                                <div class="usa-card__img">
                                        <img src="https://localhost:7174/img/NPGSMicrobial%20Penicillium%20spore%20head.jpg"
                                         alt="A placeholder image" />
                                </div>
                            </div>
                            <div class="usa-card__body">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis earum
                                    tenetur quo cupiditate, eaque qui officia recusandae.
                                </p>
                            </div>
                            <div class="usa-card__footer">
                                <a href="#" class="usa-button">Visit Florida Keys</a>
                            </div>
                        </div>
                    </li>
                    <li class="usa-card tablet-lg:grid-col-3 grid-col-3">
                        <div class="usa-card__container">
                            <div class="usa-card__header">
                                    <h4 class="usa-card__heading">ARS Entomopathogenic Fungal Culture Collection (ARSEF)</h4>
                            </div>
                            <div class="usa-card__media">
                                <div class="usa-card__img">
                                        <img src="https://localhost:7174/img/NPGSMicrobial%20Penicillium%20spore%20head.jpg"
                                         alt="A placeholder image" />
                                </div>
                            </div>
                            <div class="usa-card__body">
                                <p>
                                        The ARSEF collection accepts isolates of fungi and related eukaryotic microorganisms (oomycote and selected protozoans) for deposition and long-term preservation.
                                </p>
                            </div>
                            <div class="usa-card__footer">
                                    <a href="https://www.ars.usda.gov/northeast-area/ithaca-ny/robert-w-holley-center-for-agriculture-health/emerging-pests-and-pathogens-research/docs/mycology/" class="usa-button" target="_blank" rel="noreferrer">Visit</a>
                            </div>
                        </div>
                    </li>
                    <li class="usa-card tablet-lg:grid-col-3 grid-col-3">
                        <div class="usa-card__container">
                            <div class="usa-card__header">
                                    <h4 class="usa-card__heading">U.S. National Fungus Collection</h4>
                            </div>
                            <div class="usa-card__media">
                                <div class="usa-card__img">
                                        <img src="https://localhost:7174/img/NPGSMicrobial%20Penicillium%20spore%20head.jpg"
                                         alt="A placeholder image" />
                                </div>
                            </div>
                            <div class="usa-card__body">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis earum
                                    tenetur quo cupiditate, eaque qui officia recusandae.
                                </p>
                            </div>
                            <div class="usa-card__footer">
                                <a href="#" class="usa-button">Visit Florida Keys</a>
                            </div>
                        </div>
                    </li>
                   
                </ul>
                </section>
 *@            </main>
        </div>
    </div>
</div>

