@{
    Layout = "~/Views/Shared/_LayoutUSWDSInterior.cshtml";
}
<div class="usa-section">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="usa-layout-docs__sidenav desktop:grid-col-2">
                @Html.Partial("~/Views/Shared/Partials/_SideNav.cshtml")
            </div>
            <main class="usa-layout-docs__main desktop:grid-col-10 usa-prose usa-layout-docs" id="main-content">
                <div class="grid-row grid-gap">
                    <ul class="usa-card-group">
                        <li class="usa-card tablet-lg:grid-col-3 grid-col-3 maxw-sm">
                            <div class="usa-card__container">
                                <div class="usa-card__header">
                                    <h4 class="usa-card__heading">
                                        <a href="@Url.Action("Index","CGC")">Crop Germplasm Committees (CGC)</a>
                                    </h4>
                                </div>
                                <div class="usa-card__body">
                                    <p>
                                        Crop Germplasm Committees (CGC) serve as subject matter experts to guide curatorial staff on best practices, including the priorities and techniques for characterizing the collections. They also help review proposals that fund plant explorations and evaluation grants for scientific rigor.
                                    </p>
                                </div>
                                <div class="usa-card__footer">
@*                                     <ul class="usa-button-group usa-button-group--segmented">
                                        <li class="usa-button-group__item" style="margin:2px;">
                                            <button type="button" class="usa-button usa-button--unstyled" style="margin:2px;">TEST</button>
                                        </li>
                                        <li class="usa-button-group__item" style="margin:2px;">
                                            <button type="button" class="usa-button usa-button--unstyled" style="margin:2px;">Hybrid</button>
                                        </li>
                                        <li class="usa-button-group__item" style="margin:2px;">
                                            <button type="button" class="usa-button usa-button--unstyled">
                                                Satellite
                                            </button>
                                        </li>
                                    </ul>
 *@                                </div>
                            </div>
                        </li>
                        <li class="usa-card tablet-lg:grid-col-3 grid-col-3 maxw-sm">
                            <div class="usa-card__container">
                                <div class="usa-card__header">
                                    <h4 class="usa-card__heading">
                                        <a href="https://www.ars.usda.gov/northeast-area/beltsville-md-barc/beltsville-agricultural-research-center/national-germplasm-resources-laboratory/docs/plant-inventory-books/" target="_blank" rel="noreferrer">
                                            Plant Inventory Books ↗
                                        </a>
                                    </h4>
                                </div>
                                <div class="usa-card__body">
                                    <p>
                                        The Plant Inventory Books contain information on plant material introduced into the U.S. National Plant Germplasm System from 1898-2008. 
                                        More recent information can be found in the <a href="https://npgsweb.ars-grin.gov/gringlobal/search" target="_blank" rel="noreferrer">GRIN-Global ↗</a> database.
                                    </p>
                                </div>
                                <div class="usa-card__footer">
                                </div>
                            </div>
                        </li>
                        <li class="usa-card tablet-lg:grid-col-3 grid-col-3 maxw-sm">
                            <div class="usa-card__container">
                                <div class="usa-card__header">
                                    <h4 class="usa-card__heading">
                                        <a href="@Url.Action("pvp","Pages")">
                                            Plant Variety Protection (PVP)
                                        </a>
                                    </h4>
                                </div>
                                <div class="usa-card__body">
                                    <p>
                                        This dataset allows users to identify accessions that are currently covered by Plant Variety Protection certificates, 
                                        and to determine when they will become available for requests via GRIN-Global. The certificates are issued by the <a href="https://www.ams.usda.gov/services/plant-variety-protection" target="_blank" rel="noreferrer">
                                            Plant Variety Protection Office (PVPO) ↗
                                        </a> of the <a href="https://www.ams.usda.gov/" target="_blank" rel="noreferrer">USDA Agricultural Marketing Service ↗</a>.
                                    </p>
                                </div>
                                <div class="usa-card__footer">
                                </div>
                            </div>
                        </li>
                        <li class="usa-card tablet-lg:grid-col-3 grid-col-3 maxw-sm">
                            <div class="usa-card__container">
                                <div class="usa-card__header">
                                    <h4 class="usa-card__heading">
                                        <a href="https://biocollections.ars.usda.gov/" target="_blank" rel="noreferrer">
                                            ARS Biocollections Portal ↗
                                        </a>
                                    </h4>
                                </div>
                                <div class="usa-card__body">
                                    <p>
                                        The Biocollections Portal is a collaborative effort between several biological collections across the USDA Agricultural 
                                        Research Service to provide centralized management and virtual access to these mission-critical resources. 
                                        @* Search records from the U.S. National Arboretum Herbarium (NA), U.S. National Seed Herbarium (BARC), 
                                        U.S. National Fungus Collections (BPI), and Entomopathogenic Fungal Cultures Collection. *@
                                    </p>
                                </div>
                                <div class="usa-card__footer">
                                </div>
                            </div>
                        </li>
                        <li class="usa-card tablet-lg:grid-col-3 grid-col-3 maxw-sm">
                            <div class="usa-card__container">
                                <div class="usa-card__header">
                                    <h4 class="usa-card__heading">
                                        <a href="@Url.Action("rhizobium", "Pages")">
                                        Rhizobium
                                        </a>
                                    </h4>
                                </div>
                                <div class="usa-card__body">
                                    <p>
                                        This dataset contains technical information about rhizobia, their preservation, and relevant cultural and symbiotic characteristics.
                                    </p>
                                </div>
                                <div class="usa-card__footer">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </main>
        </div>
    </div>
</div>

